.search-sidebar.mui-col-md-3.mui-col-xs-12
	.mui-row
		form#filters.mui-panel
			.mui-col-xs-4.mui--visible-xs-inline-block
				ul.filtermenu
					li.active(data-sec="catoptions")
						span.fa.fa-check
						span.title FITNESS OPTIONS
					li(data-sec="locoptions")
						span.fa.fa-map-marker
						span.title LOCATIONS
					li(data-sec="filoptions")
						span.fa.fa-filter
						span.title FILTERS
					//- li.secondaymobilefilters(data-sec="secoptions")
					//- 	span.fa.fa-asterisk
					//- 	span.title.secondaryheading.uppercase
					li(data-sec="budgetoptions")
						span.fa.fa-rupee
						span.title BUDGET					
			.mui-col-md-12.mui-col-xs-8
				.mui-row.closemenu.mui--visible-xs-block
					.mui-col-xs-12.mui--text-right
						button#closesidebar.mui-btn.mui-btn--accent.mui-btn--small Apply
				#catoptions.optsecs
					.mui--text-title FITNESS OPTIONS 
						span.chevron-icon.fa.fa-chevron-down
					ul.categories
				hr.mui--hidden-xs
				#locoptions.optsecs
					#locid.mui--text-title LOCATIONS  
						span.chevron-icon.fa.fa-chevron-down
					ul.locations
				hr.mui--hidden-xs
				#filoptions.optsecs
					.mui--text-title FILTERS 
						span.chevron-icon.fa.fa-chevron-down
					ul.primaryfilters
				hr.mui--hidden-xs
				//- #secoptions.optsecs
				//- 	#secondaryheading.secondaryheading.mui--text-title.uppercase
				//- 	ul.secondaryfilters
				//- hr.mui--hidden-xs.secondaryseperator
				#budgetoptions.optsecs
					.mui--text-title BUDGET
						span.chevron-icon.fa.fa-chevron-down
					ul.budget
				hr.mui--hidden-xs