.search-sidebar.mui-col-md-3.mui-col-xs-12
	.mui-row
		form#filters.mui-panel
			.mui-col-xs-4.mui--visible-xs-inline-block
				ul.filtermenu
					li.active(data-sec="catoptions")
						span.fa.fa-check
						span.title FITNESS OPTIONS
					li(data-sec="locoptions")
						span.fa.fa-map-marker
						span#locid1.title LOCATIONS
					li(data-sec="filoptions")
						span.fa.fa-filter
						span.title FILTERS
					li.secondaymobilefilters(data-sec="secoptions")
						span.fa.fa-asterisk
						span(id="secondaryheadingmobile").title.secondaryheading.uppercase
					li(data-sec="budgetoptions")
						span.fa.fa-rupee
						span.title BUDGET
					li(data-sec="trialoptions" id="trialoptionsmobile")
						span.fa.fa-calendar-check-o
						span.title Days Availability
			.mui-col-md-12.mui-col-xs-8
				.mui-row.closemenu.mui--visible-xs-block
					.mui-col-xs-12.mui--text-right
						button#closesidebar.mui-btn.mui-btn--accent.mui-btn--small Apply
						button#closesidebar.mui-btn.mui-btn--accent.mui-btn--small(style="background-color:red") close
				#catoptions.optsecs
					.mui--text-title FITNESS OPTIONS  
						span.chevron-icon.fa.fa-chevron-down
					ul.categories
				hr.mui--hidden-xs
				#locoptions.optsecs
					#locid.mui--text-title LOCATIONS  
						span.chevron-icon.fa.fa-chevron-down
					ul.locations
				hr.mui--hidden-xs
				#filoptions.optsecs
					.mui--text-title FILTERS  
						span.chevron-icon.fa.fa-chevron-down
					ul.primaryfilters
				hr#filoptionssep.mui--hidden-xs
				#secoptions.optsecs
					#secondaryheading.secondaryheading.mui--text-title.uppercase
						span.chevron-icon.fa.fa-chevron-down
					ul.secondaryfilters
				hr#secoptionssep.mui--hidden-xs.secondaryseperator
				#budgetoptions.optsecs
					.mui--text-title BUDGET 
						span.chevron-icon.fa.fa-chevron-down
					ul.budget
				hr.mui--hidden-xs
				#trialoptions.optsecs
					.mui--text-title DAYS AVAILABILITY 
						span.chevron-icon.fa.fa-chevron-down
					ul.trialdays
				hr#trialoptinsline.mui--hidden-xs
				#trialoptions1.optsecs		
					.mui--text-title SLOT AVAILABILITY 
						span.chevron-icon.fa.fa-chevron-down
					#time-range
					ul
					p
						span.slider-time 10:00 AM
						|	-
						span.slider-time2 12:00 PM
					.sliders_step1
						#slider-range
					//- hr.mui--hidden-xs
					//- #weekCal
					//- 	.mui--text-title TrialDays 
					//- 	ul.mui-row-md-12
