.mui-col-md-2.mui--hidden-xs
	#recentlysearched
		.mui--text-subhead.uppercase Recently Searched
		ul.links#recentsearchlinks
	br
	#recentlyviewed
		.mui--text-subhead.uppercase Recently Viewed
		ul.links#recentviewedlinks