#searchbar.mui--z1
	.mui-row.mui--align-middle
		.mui-col-xs-8
			button#toggfilters.mui-btn.mui-btn--flat.mui--visible-xs-inline-block
				span.fa.fa-filter
				span.lbl  Filter
		.mui-col-xs-4.mui--text-right
			button.mui-btn.mui-btn--flat.sortbutton(data-mui-toggle="dropdown")
				span.fa.fa-sort
				span.lbl  Sort
			ul.mui-dropdown__menu.sortlist#sortlistid
				li(data-order="asc" data-orderfield = "popularity")
					a Popularity 
						span.icon.icon-popular
						span.icon-down-arrow
				li(data-order="desc" data-orderfield = "popularity")
					a Popularity 
						span.icon.icon-popular
						span.icon-up-arrow
				li(data-order="asc" data-orderfield = "average_price")
					a Budget 
						span.icon-money
						span.icon-down-arrow
				li(data-order="desc" data-orderfield = "average_price")
					a Budget 
						span.icon-money
						span.icon-up-arrow
				li(data-order="asc" data-orderfield = "average_rating")
					a Rating 
						span.icon-rating
						span.icon-down-arrow
				li(data-order="desc" data-orderfield = "average_rating")
					a Rating 
						span.icon-rating
						span.icon-up-arrow