doctype html
html(lang='en')
	head
		include ../sections/header
		block meta
	body
		include ../sections/topbar
		include ../sections/subbar
		block content
		include ../sections/authpops
		include ../sections/callback
	include ../libs/jslibs
	include ../sections/footer
	script.
		$(function () {
			//- Selecting menu dynamically
			var category = '#{category}';
			$('#'+category).addClass('mui-btn--primary').removeClass('mui-btn--flat');
			//- Fixed the subbar
			$('.subbar').scrollToFixed({marginTop: 60});
			SocialShareKit.init();
		});