.intro.mui--hidden-xs
	.mui-container
		.mui-row
			.mui-col-md-4.mui-col-xs-12.mui--text-center
				span.intro-icon.fa.fa-compass.mui--z2
				.mui-panel.mui--z1
					.mui--text-display1 Discover Fitness Options
					p Sift through 8000+ verified fitness services basis your interest, location & requirements.
			.mui-col-md-4.mui-col-xs-12.mui--text-center
				span.intro-icon.fa.fa-flag.mui--z2
				.mui-panel.mui--z1
					.mui--text-display1 Book Trials & Appointments
					p Our Fitness Concierge Managers will help you in identifying options, booking hassle-free trials & appointments.
			.mui-col-md-4.mui-col-xs-12.mui--text-center
				span.intro-icon.fa.fa-gift.mui--z2
				.mui-panel.mui--z1
					.mui--text-display1 Avail Exclusive Offers
					p Get access to special discounts on memberships and customized packages.