#testimonials
	.mui-container
		.mui-row
			.mui-col-xs-12.mui-col-sm-12.mui-col-md-12.mui-col-lg-12.mui--text-center
				br
				.mui--text-display1 
					.title.uppercase WHAT OUR CUSTOMERS SAY
			.mui-col-xs-12.mui-col-md-12
				.testimonials.owl-carousel.mui--text-center
					.testimonial
						.mui-row
							.mui-col-md-2
								span.fa.fa-quote-left
							.mui-col-md-8
								p Fitternity has played a crucial role in providing a convenient, simple and user friendly online platform for helping me to choose my fitness needs from marathon training to gyms with technically qualified trainers within close proximity to my place of residence. The smooth coordination by the Fitternity team made life easy for me in terms of scheduling convenient trial slots and choosing appropriate packages for my preferred fitness options. Wonderful experience and great work by the team!
							.mui-col-md-2
								span.fa.fa-quote-right
						br
						.mui--text-center
							.img(style="background-image:url('/img/testimonials/Arun Thomas.jpg')")
						.mui--text-subhead Arun Cherian Thomas
						.mui--text-caption Vice President
					.testimonial
						.mui-row
							.mui-col-md-2
								span.fa.fa-quote-left
							.mui-col-md-8
								p Fitternity is one stop platform where I can find fun workouts. The best part of it is that it allows me to take trials at various fitness studio's before I make the purchase. Trial booking vertical is the best service provided by Fitternity! The website is very easy to navigate & all the details are available online. 
							.mui-col-md-2
								span.fa.fa-quote-right
						br
						.mui--text-center
							.img(style="background-image:url('/img/testimonials/Krupali Gandhi.jpg')")
						.mui--text-subhead Krupali Gandhi
						.mui--text-caption HR Consultant
					.testimonial
						.mui-row
							.mui-col-md-2
								span.fa.fa-quote-left
							.mui-col-md-8
								p I am very pleased with the Fitternity Services. The Customer Experience Team was indeed very helpful from helping me book a trial to purchase a membership at a discounted rate. I had booked 3 trials and the experience was very smooth & hassle free.
							.mui-col-md-2
								span.fa.fa-quote-right
						br
						.mui--text-center
							.img(style="background-image:url('/img/testimonials/Camelia Das.jpg')")
						.mui--text-subhead Camelia Das
						.mui--text-caption Business Development Manager
					.testimonial
						.mui-row
							.mui-col-md-2
								span.fa.fa-quote-left
							.mui-col-md-8
								p Fitternity has helped me locate many gyms in and around my area which I wasn't aware of. This is one platform which helps me with all the information about all the studios around me. Helping me book multiple trials & compare the rates are one of the great services provided by Fitternity. The reviews on the website really helps me & the various options available on the website is something which I am happy about. Overall I had a great experience. 
							.mui-col-md-2
								span.fa.fa-quote-right
						br
						.mui--text-center
							.img(style="background-image:url('/img/testimonials/Naandkumar Bagwe.jpg')")
						.mui--text-subhead Naandkumar Bagwe
						.mui--text-caption Business Manager
					.testimonial
						.mui-row
							.mui-col-md-2
								span.fa.fa-quote-left
							.mui-col-md-8
								p Fitternity has helped me with locating various options around my area from Zumba, Pilates & other fitness options. The experience has been good so far. The responses from the team is quick & helpful.
							.mui-col-md-2
								span.fa.fa-quote-right
						br
						.mui--text-center
							.img(style="background-image:url('/img/testimonials/Nikita DSouza.jpg')")
						.mui--text-subhead Nikita D'souza
						.mui--text-caption IT Consultant
					.testimonial
						.mui-row
							.mui-col-md-2
								span.fa.fa-quote-left
							.mui-col-md-8
								p The journey through Fitternity has been really smooth, the experience has been very positive & good. The website is really easy to navigate. I've tried a couple of options from Yoga, Dance & Gym and it's really helped me understand my fitness personality. Great responses from the team as well. 
							.mui-col-md-2
								span.fa.fa-quote-right
						br
						.mui--text-center
							.img(style="background-image:url('/img/testimonials/Roopank Chaudary.jpg')")
						.mui--text-subhead Roopank Chaudhry
						.mui--text-caption Associate Partner