#login.wide-popup.mfp-hide
	.mui-row.auth
		.mui-col-md-5.mui-col-xs-12.signup
			.mui--text-headline Sign up
			br
			button#doFblogin.mui-btn.mui-fb.mui-btn--primary SIGN UP WITH FACEBOOK
			//- .g-signin2(data-width="300",data-height="200",data-longtitle="true")
			//- SIGN UP WITH GOOGLE+
			//- .g-signin2
			//- button#doGplogin.mui-btn.mui-google.mui-btn--danger SIGN UP WITH GOOGLE+
			button#doEmailSignup.mui-btn.mui-btn--raised SIGN UP USING EMAIL
			br
			br
			p By signing up you indicate that you have read and agree to the Terms of Service.
		.mui-col-md-1
		.mui-col-md-6.mui-col-xs-12.signin
			.mui--text-headline Sign in
			br
			form#formsignin(name="signin")
				.mui-row
					.mui-col-xs-12
						.mui-textfield
							input(type="email",id="email",data-validetta="required,email",autocomplete="off")
							label Email
					.mui-col-xs-12
						.mui-textfield
							input(type="password",id="pass",data-validetta="required,minLength[6],maxLength[20]",autocomplete="off")
							label Password
					.mui-col-xs-12.mui--text-right
						button#dologin.mui-btn.mui-btn--small.mui-btn--primary(type="submit") Login
						button#iforgot.mui-btn.mui-btn--small Forgot Password ?
#signup.lean-popup.mfp-hide
	.mui-row.auth
		.mui-col-md-12.signup
			.mui--text-headline Sign up
			br
			form#formsignup(name="signup")
				.mui-row
					.mui-col-xs-12
						.mui-textfield
							input(type="text",id="fullname",data-validetta="required,minLength[4]",autocomplete="off")
							label Full Name
					.mui-col-xs-12
						.mui-textfield
							input(type="email",id="email",data-validetta="required,email",autocomplete="off")
							label Email
					.mui-col-xs-12
						.mui-textfield
							input(type="password",id="pass",data-validetta="required,minLength[6],maxLength[20]",autocomplete="off")
							label Password
					.mui-col-xs-12.mui--text-right
						button#dosignup.mui-btn.mui-btn--small.mui-btn--primary Sign up
#forgot.lean-popup.mfp-hide
	.mui-row.auth
		.mui-col-md-12.forgot
			.mui--text-headline Forgot Password ?
			br
			form(name="forgot")
				.mui-row
					.mui-col-xs-12
						.mui-textfield
							input(type="email",id="email",data-validetta="required,email",autocomplete="off")
							label Email
					.mui-col-xs-12.mui--text-right
						button#doreset.mui-btn.mui-btn--small.mui-btn--primary Reset My Password