#callback.wide-popup.mfp-hide
	.mui-row
		.mui-col-md-12
			.text-center
				h2.mui--text-display1 Anything in Fitness. We are here to help!
			br
			form#callbackform(name="callback")
				.mui-row
					.mui-col-md-6.mui-col-xs-12
						.mui-textfield
							input(type="text",id="fullname",data-validetta="required,minLength[4]",autocomplete="off")
							label Full Name
					.mui-col-md-6.mui-col-xs-12
						.mui-textfield
							input(type="text",id="email",data-validetta="required,email",autocomplete="off")
							label Email
				.mui-row
					.mui-col-md-6.mui-col-xs-12
						.mui-textfield
							input(type="number",id="mobile",data-validetta="required,number,minLength[10],maxLength[12]",autocomplete="off")
							label Mobile
					.mui-col-md-6.mui-col-xs-12
						.mui-select
							select
								option Before 10 AM
								option 10 AM - 2 PM
								option 2 PM - 6 PM
								option 6 PM - 10 PM
							label(style="display:block;padding-top:5px;") Preferred Timings
				.mui-row
					.mui-col-xs-12.text-center
						button(type="submit").mui-btn.mui-btn--primary Yeah, Call me back!
						br
						span.mui--text-header OR CALL US AT
						h6.mui--text-display3 +91 9222 221 131
#notavailable.lean-popup.mfp-hide
	.mui-row
		.mui-col-md-12
			.text-center
				h2.mui--text-display1 COMING SOON TO YOUR CITY
			br
			p We're currently available only in the following cities
			ul
				li
					a(href="/mumbai") Mumbai
				li
					a(href="/pune") Pune
				li
					a(href="/bangalore") Bangalore
				li
					a(href="/delhi") Delhi
				li
					a(href="/gurgaon") Gurgaon