block head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
	meta(name="google-signin-scope",content="profile email")
	meta(name="google-signin-client_id",content="411097000368-dj72b7v8gkkldb7f297bvfvfm8u21uu7.apps.googleusercontent.com")
	script(src="//apis.google.com/js/platform.js?onload=renderButton",async,defer)
	script(type="text/javascript").
			(function(){
			var kyuscript = document.createElement('script');
			kyuscript.type = 'text/javascript';
			kyuscript.async = true;
			//- kyuscript.defer = true;
			kyuscript.src = 'https://cdn.fitn.in/assets/kyufitternityv22.js';
			var sc = document.getElementsByTagName('script')[0];
			sc.parentNode.insertBefore(kyuscript,sc);
			})();
	include ../libs/csslibs.jade