.subbar
	.mui-container.mui--align-middle
		.mui-row
			.mui-col-md-12.subs
				a.mui-btn.mui-btn--flat.mui-btn--small#all(href="/articles") All
				a.mui-btn.mui-btn--flat.mui-btn--small#cardio(href="/articles/cardio") Cardio
				a.mui-btn.mui-btn--flat.mui-btn--small#strength(href="/articles/strength") Strength
				a.mui-btn.mui-btn--flat.mui-btn--small#flexibility(href="/articles/flexibility") Flexibility
				a.mui-btn.mui-btn--flat.mui-btn--small#nutrition(href="/articles/nutrition") Nutrition
				a.mui-btn.mui-btn--flat.mui-btn--small#recipes(href="/articles/recipes") Recipes
				a.mui-btn.mui-btn--flat.mui-btn--small#eating-out(href="/articles/eating-out") Eating Out
				a.mui-btn.mui-btn--flat.mui-btn--small#mind(href="/articles/mind") Mind
				a.mui-btn.mui-btn--flat.mui-btn--small#relationships(href="/articles/relationships") Relationships
				a.mui-btn.mui-btn--flat.mui-btn--small#lifestyle(href="/articles/lifestyle") Lifestyle