.topbar.mui-appbar.mui--appbar-line-height.mui--z2
	.mui-container.mui--align-middle
		.mui-row
			.mui-col-xs-2.mui--visible-xs-inline-block
				button#showsidebar.mui-btn.mui-btn--fab.mui-btn--primary.mui--visible-xs-inline-block.sider
					span.fa.fa-bars
			.mui-col-md-3.mui-col-lg-3.mui-col-sm-3.mui-col-xs-10.no-pad
				a(href="/")
					img(src="https://a.fitn.in/global/logo_white.svg", width="100px")
				.mui-dropdown
					button#citydrop.mui-btn.mui-btn--flat(data-mui-toggle="dropdown") 
						span.mui-caret
					ul.mui-dropdown__menu
						li
							a(onclick="cityEvent('mumbai')") Mumbai
						li
							a(onclick="cityEvent('pune')") Pune
						li
							a(onclick="cityEvent('bangalore')") Bangalore
						li
							a(onclick="cityEvent('delhi')") Delhi
						li
							a(onclick="cityEvent('gurgaon')") Gurgaon
				button.mui-btn.mui-btn--fab.mobile-search.mui--visible-xs-inline-block
					span.fa.fa-search
			#globalSearchContainer.mui-col-md-5.mui-col-lg-5.mui-col-sm-5.mui-col-xs-12
				.mui-row
					.mui-col-md-12.mui-col-xs-12
						input#global-search-input(type='text',placeholder="Search for Fitness options, Locations, Brands etc..")
					button.mui-btn.mui-btn--fab.close-search
						span.fa.fa-close.fa-2x
			.mui-col-md-4.mui-col-lg-4.mui-col-sm-4.mui-col-xs-4.mui--text-right.mui--hidden-xs
				button#trigcallback.mui-btn.mui-btn--small.mui-btn--flat Request a Callback
				button#triglogin.mui-btn.mui-btn--small.mui-btn--primary Login
				#profilelink
					a.mui-btn.mui-btn--small.mui-btn--primary profile
