extends static-layout
block append meta
	title=title
	meta(name="description" content="Current Openings at Fitternity")
	link(rel="canonical", href="www.fitternity.com/current-openings")
block content
	.current-openings
		.sec-padtb
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-12.mui-col-lg-12
						h1.mui--text-center.mui--text-display3 CURRENT OPENINGS
						span.small-divider
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 Front End Developer (Mumbai)
					.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Overview:
						br
						p.mui--text-body1 We are looking for a Front-End Web Developer who is motivated to combine the art of design with the art of programming. Responsibilities will include translation of the UI/UX design wireframes to actual code that will produce visual elements of the application. You will work with the UI/UX designer and bridge the gap between graphical design and technical implementation, taking an active role on both sides and defining how the application looks as well as how it works.
						br
						h4.mui--text-title Job Responsibilities:
						br
						ul
							li Develop new user-facing features.
							li Build reusable code and libraries for future use.
							li Ensure the technical feasibility of UI/UX designs.
							li Optimize application for maximum speed and scalability.
							li Assure that all user input is validated before submitting to back-end.
							li Collaborate with other team members and stakeholders
						br
						h4.mui--text-title Requirements
						br
						ul
							li Proficient understanding of web markup, including HTML5, CSS3.
							li Basic understanding of server-side CSS pre-processing platforms, such as LESS and SASS.
							li Proficient understanding of client-side scripting and JavaScript frameworks, including jQuery.
							li Good understanding of AngularJS.
							li Good understanding of asynchronous request handling, partial page updates, and AJAX.
							li Basic knowledge of image authoring tools, to be able to crop, resize, or perform small adjustments on an image. Familiarity with tools such as as Gimp - or Photoshop is a plus.
							li Proficient understanding of cross-browser compatibility issues and ways to work around them.
							li Proficient understanding of git.
							li Good understanding of SEO principles and ensuring that application will adhere to them
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.mui--z3
							.content
								p.mui--text-headline Experience
								p.mui--text-button 1-3 years
								br
								p.mui--text-headline Job Location
								p.mui--text-button Mumbai
								br
								p.mui--text-headline Remuneration
								p.mui--text-button 5.5 to 7.5 Lakhs 
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 Android Developer (Mumbai)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Overview:
						br
						p We are looking for an Android developer responsible for the development and maintenance of applications aimed at a vast number of diverse Android devices. Your primary focus will be the development of Android applications and their integration with back-end services. You will be working along-side other engineers and developers working on different layers of the infrastructure. Therefore, commitment to collaborative problem solving, sophisticated design, and creating quality products is essential.
						br
						h4.mui--text-title Job Responsibility
						br
						ul
							li Translate designs and wireframes into high quality code
							li Design, build, and maintain high performance, reusable, and reliable Java code
							li Ensure the best possible performance, quality, and responsiveness of the application
							li Identify and correct bottlenecks and fix bugs
							li Help maintain code quality, organization, and automatization
						br
						h4.mui--text-title Requirements
						br
						ul 
							li Strong knowledge of Android SDK, different versions of Android, and how to deal with different screen sizes
							li Familiarity with RESTful APIs to connect Android applications to back-end services
							li Strong knowledge of Android UI design principles, patterns, and best practices
							li Experience with offline storage, threading, and performance tuning
							li Ability to design applications around natural user interfaces, such as “touch”
							li Knowledge of the open-source Android ecosystem and the libraries available for common tasks
							li Ability to understand business requirements and translate them into technical requirements
							li Familiarity with cloud message APIs and push notifications
							li A knack for benchmarking and optimization
							li Understanding of Google’s Android design principles and interface guidelines
							li Proficient understanding of code versioning tools, such as Git
							li Familiarity with continuous integration
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 1-5 years
							br
							p.mui--text-headline Job Location
							p.mui--text-subhead Mumbai
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 5.5 to 7.5 Lakhs 	
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 iOS DEVELOPER (Mumbai)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Overview:
						br
						p We are looking for an iOS developer responsible for the development and maintenance of applications aimed at a range of iOS devices including mobile phones and tablet computers. Your primary focus will be development of iOS applications and their integration with back-end services. You will be working alongside other engineers and developers working on different layers of the infrastructure. Therefore, a commitment to collaborative problem solving, sophisticated design, and the creation of quality products is essential.
						br
						h4.mui--text-title Job Responsibilities:
						br
						ul
							li Design and build applications for the iOS platform
							li Ensure the performance, quality, and responsiveness of applications
							li Collaborate with a team to define, design, and ship new features
							li Identify and correct bottlenecks and fix bugs
							li Help maintain code quality, organization, and automatization
						br
						h4.mui--text-title Requirements
						br
						ul 
							li Proficient with Swift and Cocoa Touch
							li Experience with iOS frameworks such as Core Data, Core Animation, etc.
							li Experience with offline storage, threading, and performance tuning
							li Familiarity with RESTful APIs to connect iOS applications to back-end services
							li Understanding of Apple’s design principles and interface guidelines
							li Knowledge of low-level C-based libraries is preferred
							li Experience with performance and memory tuning with tools
							li Familiarity with cloud message APIs and push notifications
							li Knack for benchmarking and optimization
							li Proficient understanding of code versioning tools
							li Familiarity with continuous integration
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 1-5 years
							br
							p.mui--text-headline Job Location
							p.mui--text-subhead Mumbai
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 5.5 to 7.5 Lakhs
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 NodeJS Developer (Mumbai)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Overview:
						br
						p We are looking for a Node.js Developer responsible for managing the interchange of data between the server and the users. Your primary focus will be the development of all server-side logic, definition and maintenance of the central database, and ensuring high performance and responsiveness to requests from the front-end. You will also be responsible for integrating the front-end elements built by your co-workers into the application. Therefore, a basic understanding of front-end technologies is necessary as well.
						br
						h4.mui--text-title Job Responsibilities:
						br
						ul
							li Integration of user-facing elements developed by front-end developers with server side logic.
							li Writing reusable, testable, and efficient code.
							li Design and implementation of low-latency, high-availability, and performant applications.
							li Implementation of security and data protection.
							li Integration of data storage solutions viz. MemCache, Redis and MongoDB
						br
						h4.mui--text-title Requirements
						br
						ul
							li Strong proficiency with JavaScript. Knowledge of CoffeeScript is a plus.
							li Knowledge of Node.js and frameworks available for it such as Express, StrongLoop and Restify.
							li Understanding the nature of asynchronous programming and its quirks and workarounds
							li Good understanding of server-side templating languages such as Jade and Handlebars.
							li Good understanding of server-side CSS preprocessors.
							li Basic understanding of front-end technologies, such as HTML5, and CSS3.
							li User authentication and authorization between multiple systems, servers, and environments.
							li Integration of multiple data sources and databases into one system.
							li Understanding fundamental design principles behind a scalable application.
							li Understanding differences between multiple delivery platforms, such as mobile vs. desktop, and optimizing output to match the specific platform.
							li Creating database schemas that represent and support business processes.
							li Implementing automated testing platforms and unit tests.
							li Proficient understanding of git
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 1-5 years
							br
							p.mui--text-headline Job Location
							p.mui--text-subhead Mumbai
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 5.5 to 7.5 Lakhs
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 PHP Developer (Mumbai)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Overview:
						br
						p We are looking for a PHP Developer responsible for managing back-end services and the interchange of data between the server and the users. Your primary focus will be the development of all server-side logic, definition and maintenance of the central database, and ensuring high performance and responsiveness to requests from the front-end. You will also be responsible for integrating the front-end elements built by your co-workers into the application. Therefore, a basic understanding of front-end technologies is necessary as well.
						br
						h4.mui--text-title Job Responsibilities:
						br
						ul
							li Integration of user-facing elements developed by front-end developers.
							li Build efficient, testable, and reusable PHP modules.
							li Solve complex performance problems and architectural challenges.
							li Integration of data storage solutions viz. MemCache, Redis and MongoDB
						br
						h4.mui--text-title Requirements
						br
						ul
							li Strong knowledge of Core PHP & Web Frameworks such as Laravel.
							li Understanding the fully synchronous behavior of PHP.
							li Understanding of MVC design patterns.
							li Basic understanding of front-end technologies, such as JavaScript, HTML5, and CSS3.
							li Knowledge of object oriented PHP programming.
							li Strong knowledge of the common PHP or web server exploits and their solutions.
							li Understanding fundamental design principles behind a scalable application.
							li User authentication and authorization between multiple systems, servers, and environments.
							li Integration of multiple data sources and databases into one system.
							li Familiarity with limitations of PHP as a platform and its workarounds.
							li Creating database schemas that represent and support business processes.
							li Familiarity with SQL/NoSQL databases and their declarative query languages.
							li Proficient understanding git.
							li Willing to get hands on with NodeJS
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 1-5 years
							br
							p.mui--text-headline Job Location
							p.mui--text-subhead Mumbai
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 5.5 to 7.5 Lakhs
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 Digital Marketing Manager
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Overview:
						br
						p Fitternity is an online platform that serves to bridge the gap between a user and a fitness service provider. As a growing company, Fitternity Health E - Solution Pvt. Ltd. is looking for a Digital Marketing Manager to join our marketing/advertising team. Our marketing department takes care of everything right from defining marketing strategy to planning to the final execution. All things marketing are done in-house. 
						br
						h4.mui--text-title Job Responsibility
						br
						ul
							li Engage in Digital Marketing Strategy for Fitternity.com. Areas of focus will include overall Digital Content Management, Keyword Research, Search Engine Optimization (SEO), analyzing Web Analytics, and all Social Media Strategies & Online Outreach Programs.
							li Online Customer Engagement & Brand Management. 
							li Engage in various online Brand Management activities. 
							li Assist in drafting both creative and contextual communication for marketing activities.
							li Seek, monitor and analyze competitor marketing and sales materials online. 
							li Provide support to all social media efforts.
							li Perform Analytical functions to understand performance and identify potential growth areas.
							li Regularly Assess Return on Investment. 
							li Take overall responsibility of the entire Digital Marketing Communication of Fitternity.com through all of its Digital Channels, such as: Website, Social Media Platforms, and E - Mail & Mobile Based Platforms. 
							li Optimize Fitternity’s marketing automation and lead nurturing processes through Email & Mobile Based Marketing.
							li Engage in advertising on various Digital Platforms directly as well as through coordination with Digital Advertising Agency / Partners.
						br
						h4.mui--text-title Requirements
						br
						ul
							li Graduate/MBA who has majored in fields such as: Marketing, Advertising, Communication, or Media Management.
							li 2 to 4 Years of relevant work experience. 
							li Excellent Communication skills.
							li Excellent knowledge of Web & Social Media Platforms.
							li Proficient with Microsoft Office (Word, Excel, PowerPoint, etc.)
							li Experience with Google ad words / SEM.
							li Strong analytical and data - driven thinking.
							li Up - to - date with the latest trends and best practices in online marketing and measurement.
							li Out of the box thinker.
							li Keen aesthetic sense. 
							li Flexibility to take on new roles within the marketing team.
							li Enterprising approach to work and problem solving
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 2 - 4 years
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 4.2 to 7.2 Lakhs
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 Digital Marketing Executive
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Overview:
						br
						p Fitternity is an online platform that serves to bridge the gap between a user and a fitness service provider. As a growing company, Fitternity Health E - Solution Pvt. Ltd. is looking for a Digital Marketing Executive to join our marketing/advertising team. Our marketing department takes care of everything right from defining marketing strategy to planning to the final execution. All things marketing are done in-house. 
						br
						h4.mui--text-title Job Responsibility
						br
						ul
							li Engage in Digital Marketing Strategy for Fitternity.com. Areas of focus will include overall Digital Content Management, Keyword Research, Search Engine Optimization (SEO), analyzing Web Analytics, and all Social Media Strategies & Online Outreach Programs.
							li Online Customer Engagement & Brand Management. 
							li Ideate & execute strategies that increase traffic, demand and conversion.
							li Execute consistent brand voice, messaging and visual communication across multiple channels.
							li Optimize Fitternity’s marketing automation and lead nurturing processes through Email, Mobile Based Marketing, content, and various other social channels.
							li Seek, monitor and analyze competitor marketing and sales materials online. 
							li Provide support to all social media efforts.
							li Engage in advertising on various Digital Platforms directly as well as through coordination withDigital Advertising Agency / Partners.
						br
						h4.mui--text-title Requirements
						br
						ul
							li Postgraduate student in Mumbai who has majored in fields such as: Marketing, Advertising, Communication, or Media Management.
							li 1 to 3 Years of relevant work experience. 
							li Excellent Communication skills.
							li Excellent knowledge of Web & Social Media Platforms.
							li Proficient with Microsoft Office (Word, Excel, PowerPoint, etc.)
							li Experience with Google ad words / SEM is preferred.
							li Up - to - date with the latest trends and best practices in online marketing and measurement.
							li Out of the box thinker.
							li Flexibility to take responsibility for varied functions within the marketing team
							li Enterprising approach to work and problem solving
							li Keen aesthetic sens
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 1-5 years
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 3 to 4.8 Lakhs
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 Finance and Accounts Executive (Mumbai)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Overview:
						br
						p Fitternity Health E-Solution Pvt Ltd is seeking for an Accountant Executive with experience of maintaining such Books of Accounts in Tally, complying with Statutory Compliances, Preparing MIS Reports, Application of Accounting Standards pertaining to Account Writing etc. for at least one year. Candidate should be responsible for supporting the CFO in the budgeting exercise and resolving queries of an Auditor.
						br
						h4.mui--text-title Job Responsibility
						br
						ul
							li Daily / Routine Accounting Activities- Purchase, Sales, Expense, Petty Cash etc.
							li Accounts Receivable Activities (Ageing Analysis)
							li Bank Entry & Bank Reconciliation Statements
							li Accounts Payable Activities (Vendor invoicing, Vendor Payments, vendor accounts)
							li MIS Reporting
							li Ensure Month end activities: Provisions, Voucher submissions
							li Computation, Recording & Payment of Taxes applicable.
							li Depreciation Calculation as Per New Companies Act
							li Application of Accounting Standard for Account Writing
							li Supporting the Audit Exercise
							li Analysis of variances on a periodic basis
							li Analyzing actual expenses against available budgets, including flagging off possible over-runs in advance
							li Prepares and analyzes financial reports including providing financial information
							li Creating and Maintaining a good document storage system
							li Assistance in improvement of the Tally package to ensure its effective utilization.
							li Undertaking online PR Initiatives.
						br
						h4.mui--text-title Education/Experience
						br
						ul
							li Bachelor’s Degree in Commerce (BCOM) or Bachelor’s in Accounting & Finance (BAF)
							li 1-3 years of experience in Accounting and having handled data writing, finalization of accounts, preparation of MIS and complying with statutory compliances.
							li Good knowledge of MS Office (particularly excel), Tally accounting system emailing systems (Outlook/ Gmail etc)
							li Past experience of working on Tally Accounting package is a must.
						br
						h4.mui--text-title Behavioural & Personal Characterstics
						br
						ul
							li Ability to multi task in between the roles and duties specified.
							li Good Communication and presentation skills.
							li ‘Can do’ Attitude and having a solution oriented mindset.
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 1-5 years
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 2.5 to 3 Lakhs
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 RELATIONSHIP MANAGER 
						.mui--text-subhead (Bangalore, Mumbai, Delhi &amp; Pune)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Overview:
						br
						p Relationship Manger is responsible for servicing the premium-­‐listed vendors: creating their brand-­‐offering page, defining campaigns, working with them to market &amp; promote the brand through website, events & social media. Relationship Manager will also work on marketing initiatives and outreach activities conducted by Fitternity. 
						br
						h4.mui--text-title Job Responsibility
						br
						ul
							li One-­‐point-­‐contact for premium listed vendors to manage their on-­‐boarding, branding, communication, marketing &amp; pricing across all platforms 
							li Define processes for standardization of activities linked to vendor management 
							li Stay adept with website related analytics linked to vendors towards delivering ROI to each vendor 
							li Work closely with the vendors to understand ways to promote their brand and services via Fitternity 
							li Handle special projects -­‐ involves taking single-­‐point responsibility of a certain revenue stream, process improvement etc.
						br
						h4.mui--text-title Requirements
						br
						ul
							li 0-2 years of work experience 
							li Good oral and written communication skills in English 
							li Knowledge of how to operate a laptop / PC, good typing speed and working knowledge of Microsoft Office 
							li Familiarity with the geography of the location applied to 
							li Intelligent, enthusiastic and self-­‐motivated individuals 
							li Comfortable with long and unpredictable work hours
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 1-5 years
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 3 to 5 Lakhs + Variable
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 CUSTOMER EXPERIENCE MANAGER (Mumbai)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Overview:
						p Customer Experience Manager is a personal fitness concierge manager for the Fitternity users responsbile for improving their fitness journey.  This role is very crucial as it customer facing and accountable for conversions (trial bookings & membership sales) 
						h4.mui--text-title Job Responsibility
						ul
							li Handles all inbound and outbound calls made to customers  
							li Provides quality concierge service on each call: giving fitness options basis requirement, booking trials, assisting in final purchase 
							li Documentation of all calls and analysis thereafter 
							li Follow up with customers and ensure closure of leads towards conversions 
							li Handle special projects -­‐ involves taking single-­‐point responsibility of a certain product offering, new initiative etc.
						h4.mui--text-title Requirements
						ul
							li 0-2 years of work experience 
							li Strong communication skills – ability to communicate clearly and effectively with customers  
							li Good listening skills 
							li Possess a flair for customer delight  
							li Knowledge of how to operate a laptop / PC, good typing speed and working knowledge of Microsoft Office 
							li Intelligent, enthusiastic and self-­‐motivated individuals 
							li Comfortable with long and unpredictable work hours			
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 1-5 years
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 2.4 to 3.6 Lakhs + Variable
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 BUSINESS DEVELOPMENT MANAGER
						.mui--text-subhead (Bangalore, Mumbai, Delhi &amp; Pune)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Overview:
						p Business Development Manger is responsible for identifying, approaching, meeting and converting key players in fitness industry in Mumbai, Pune, Bangalore and Pune to list on Fitternity.  
						h4.mui--text-title Job Responsibility
						ul
							li Identify key players in the health and fitness industry via extensive market research in accordance to the business strategy 
							li Set-­‐up and conduct vendor meetings to propose custom defined proposal for each client and convert them towards listing with Fitternity 
							li Work closely with the vendors to understand ways to promote their organization and services via Fitternity 
							li Field sales as and when required 
							li Responsibilities include pitching, negotiation, contract, billing/ invoicing
						h4.mui--text-title Requirements
						ul
							li 0-2 years of work experience 
							li Good oral and written communication skills in English 
							li Knowledge of how to operate a laptop / PC, good typing speed and working knowledge of Microsoft Office 
							li Familiarity with the geography of the location applied to 
							li Intelligent, enthusiastic and self-­‐motivated individuals 
							li Comfortable with long and unpredictable work hours
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 1-5 years
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 3 to 5 Lakhs + Variable
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 Business Operation Manager (Mumbai)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Job Responsibility
						ul
							li Set up systems & processes while ensuring they scale up and improve efficiency at various levels.
							li Design & develop measurable and automated reporting processes to enable and promote growth. 
							li Closely work in coordination with other departments/verticals to ensure the smooth functioning of the business as well as customer satisfaction.
							li Monitor customer service satisfaction. 
							li Proactively experiment with new ideas to enhance overall customer satisfaction and business growth.
							li Establish a goal for the team in order to build individual and team performance.
							li Identify & execute projects to promote company and team growth. 
							li Work closely with the founders, Department heads, and investors. 
							li Conduct monthly growth analysis & present reports.
						h4.mui--text-title Requirements
						ul
							li Post – Graduate Degree in any stream (Preferably related to Business & Finance)
							li 1 to 3 years of sales / management experience. 
							li Project Management experience.
							li Excellent coordination skills.
							li Strong analytical & data driven thinking.
							li Creative & strong eye for detail.
							li Up to date with latest industry trends.
							li Proficiency with Microsoft Office Tools (PowerPoint, Word, Excel, etc.)
						h4.mui--text-title Behavioural & Personal Characterstics
						ul
							li Strong Relationship Building Skills.
							li Excellent Influencer.
							li Excellent communication skills.
							li Excellent team management skills.
							li Self – motivated & goal – oriented.
							li Out – of – the box thinker.
							li Fitness enthusiast
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 1-5 years
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 2.4 to 4 Lakhs
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 Business Development Executive – Special Projects (Mumbai)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Job Responsibility
						ul
							li Develop a strong understanding of the business & the industry.
							li Conduct a 360 Degree research & analysis of the current business, growth & development.
							li Conduct a 360 Degree research & analysis of the Industry.
							li Identify areas of potential growth through various marketing & new initiative strategies. 
							li Understand and bridge the gap between backend business functions. 
							li Initiate & lead corporate tie – ups.
							li Work cross – functionally with all the verticals within the company.
							li Measure and report performance & growth on a monthly basis.
						h4.mui--text-title Requirements
						ul
							li Post – Graduate Degree in any stream (Preferably related to Business & Finance)
							li 0 to 2 years of  experience.
							li Project Management experience.
							li Excellent coordination skills.
							li Strong analytical & data driven thinking.
							li Creative & strong eye for detail.
							li Up to date with latest industry trends.
							li Proficiency with Microsoft Office Tools (PowerPoint, Word, Excel, etc.)
						h4.mui--text-title Behavioural & Personal Characterstics
						ul
							li Strong Relationship Building Skills.
							li Excellent Influencer.
							li Self – motivated & goal – oriented.
							li Out – of – the box thinker.
							li Fitness enthusiast
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 1-5 years
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 1.8 to 3.8 Lakhs
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 AREA MANAGER / SENIOR BUSINESS DEVELOPMENT MANAGER
						.mui-text-subhead (Bangalore, Delhi, Mumbai)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						p Area Manager is responsible for strategy, sales and operations for the city. Along with P&amp;L responsibility, the Area Manager will also have team accountability and process set-up responsibility.
						h4.mui--text-title Job Responsibility
						ul
							li Scanning the market &amp; understand major trends to define the categories &amp; vendors Fitternity should cater to
							li Managing the team to handle end-to-end business development &amp; relationship management cycle including pitching, negotiation, contracting, billing / invoicing, payment collection and troubleshooting
							li Allocating responsibility, tracking and monitoring the work of each team member along with ensuring the efficiency and effectiveness of their work
							li Acquiring and managing critical client accounts which have higher degree of complexity in terms of client servicing
							li Leading process set-up and training the team to deliver across business development, relationship management, lead generation &amp; lead management functions. 
							li Leading all intiatives from HQ and streamline resources and processes to execute
						h4.mui--text-title Requirements
						ul
							li Prior team management experience is a must
							li Proven track record of achieving revenue targets
							li Familiarity with the geography of the location applied to
							li Excellent oral and written communication skills in English
							li Comfortable with ambiguity and unpredictable work hours
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 2 - 4 years
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 5 to 6.5 Lakhs + Variable
		.sec-padtb.white-bg
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h2.mui--text-display1 Research &amp; Content Associate
						.mui-text-subhead (Mumbai, Bangalore, Pune, Delhi)
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-3.mui-col-lg-3
						a.mui-btn.mui-btn--small.mui-btn--primary.mui-pull-right(href="https://script.google.com/macros/s/AKfycbwlH0tHcxupCawAXBYG-wKt2hy-XBP4F7YSDerKYtDmiHX65OM/exec",target="_blank") Apply to this position
				br
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-9.mui-col-lg-9
						h4.mui--text-title Job Responsibility
						ul
							li Collect, curate and update information about fitness service providers and build a comprehensive database for all fitness options
							li Quality check the data on the website to ensure that information is accurate
							li Look out for new gyms / studios / trainers in the city and keep the database updated
							li Required to collect comprehensive information including rate cards, photos and schedule details
							li Interact with gym / studio managers/owners and generate sales leads for the sales team
						h4.mui--text-title Requirements
						ul
							li Good oral and written communication skills in English 
							li Knowledge of how to operate a laptop / PC, good typing speed and working knowledge of Microsoft Office 
							li Familiarity with the geography of the location applied to 
							li Intelligent, enthusiastic and self-­‐motivated individuals 
							li Comfortable with long and unpredictable work hours
							li Willing to commute and visit service providers 3-4 days in a week 
					.mui-col-lg-3.mui-col-md-3.mui--hidden-xs.mui--hidden-sm
						.mui-panel.light-bg
							p.mui--text-headline Experience
							p.mui--text-subhead 0 - 1 years
							br
							p.mui--text-headline Remuneration
							p.mui--text-subhead 2 to 3 Lakhs + Variable
							br
							p.mui--text-headline Note :
							p.mui--text-subhead This is not a creative writing role