extends static-layout
//- block append meta
	//- html(itemscope itemtype="http://schema.org/Article")
	title Contact Us | Fitternity
	meta(name="description" content="The place where it all started, our warehouse, our workplace, our team. Find us here. ")
	link(rel="canonical", href="http://www.fitternity.com/contact-us")
block content
	.static-wrapper.sec-padtb
		.siteMapPage.sec-padtb
			.mui-container.static-container.contact
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-12.mui-col-lg-12
						#map.map
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-12.mui-col-lg-12
						h1 CONTACT US, REACH US
						p(itemprop="addressLocality")
							strong ADDRESS:
						| Gala no-2, Ravi Industrial Estate, 
						br(itemprop="streetAddress")
						| Off Mahakali Caves Road, Paper Box Area,
						br(itemprop="addressRegion")
						| Andheri East, 
						br(itemprop="postalCode")
						| Mumbai - 400053.
						br
						br
						br
						p(itemprop="telephone")
							strong CONTACT:
						| Tel. No: 022 61222222 
						br(itemprop="email")
						| E-mail : info@fitternity.com
block append js
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtklCjbWKPD9x_dr-vhcpfanY9gtO7axk")
	script.
		function initGoogleMaps() {
			var myLatlng = new google.maps.LatLng(19.120037,72.861623);
			var mapOptions = {
				zoom: 16,
				center: myLatlng,
				scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
			}
			var map = new google.maps.Map(document.getElementById("map"), mapOptions);
			var marker = new google.maps.Marker({
				position: myLatlng,
				title: "fitternity"
			});
			marker.setMap(map);
		}
		initGoogleMaps();