extends static-layout
block append meta
	title=title
	meta(name="description" content="Careers at Fitternity")
	link(rel="canonical", href="www.fitternity.com/careers")
block content
	#fakeLoader
	.antiloader
	.careers
		.section.odd(style="background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url('/img/static/careers/career-top.jpg');background-repeat:no-repeat;background-size:cover;")
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-offset-2.mui-col-md-8.mui-col-lg-8.mui-col-lg-offset-2
						div.mui--text-center.sec-padtb
							h1.mui--text-display1.mui--text-center Fitternity’s vision is to empower people to live a happy and active life. Be part of the fitness revolution in India – Join our team
							span.small-divider
							a.mui-btn.mui-btn--small.mui-btn--primary(href='/current-openings') Current Openings
		.section.even
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-12.mui-col-lg-12
						div.mui--text-center
							h2.mui--text-display1 WORK AT FITTERNITY
							span.small-divider
							p.mui--text-headline.mui--text-dark-secondary We are looking for highly driven individuals who love challenges and want to change the world. There is never a dull moment at Fitternity, we all thrive towards a common goal of making world a fitter place. We believe in fast-track career growth with accountability and high-performing team culture.
		.section.odd(style="background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url('/img/static/careers/career-bottom.jpg');background-repeat:no-repeat;background-size:cover;")
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-4.mui-col-lg-4.mui--text-center
						.transparent-bg
							span.icon.icon-ratinghalf.mui--text-display3
							h3.mui--text-display1 Change Agent
							span.small-divider
							p.mui--text-subhead We are as close as one can get to a fitness revolution. Whether you believe in change or want to be the change, this is the right place to maximize impact
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-4.mui-col-lg-4.mui--text-center
						.transparent-bg
							span.icon.icon-bulb.mui--text-display3
							h3.mui--text-display1 Idea Builder
							span.small-divider
							p.mui--text-subhead If your brain works on an overdrive and ideas are a part of your daily task list, then Fitternity is the place to ideate, execute, get your hands dirty, make mistakes, and learn everyday!
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-4.mui-col-lg-4.mui--text-center
						.transparent-bg
							span.icon.icon-like.mui--text-display3
							h3.mui--text-display1 Go Getter
							span.small-divider
							p.mui--text-subhead You wish to be around dynamic, passionate, go-getters to work, workout, chill and party with? Then you would love your time at Fitternity office
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-12.mui-col-lg-12
						div.mui--text-center.sec-padtb
							a.mui-btn.mui-btn--small.mui-btn--primary(href='/current-openings') Current Openings
