extends static-layout
block append meta
	//- html(itemscope itemtype="http://schema.org/Article")
	meta(name="description" content="Listing with fitternity is simple. Increase conversions to your fitness facility.")
	link(rel="canonical", href="https://www.fitternity.com/list-your-business")
block content
	.static-wrapper
		.sec-padtb
		.list-business.sec-padtb
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-8.mui-col-lg-8
						h1.mui--text-display1.mui--text-left(style="margin-bottom:1.5rem") GET VISIBLE. GET MORE CUSTOMERS. GROW MORE!
						.mui-col-sm-12.mui-col-xs-12.mui-col-md-6.mui-col-lg-6
							.mui-panel.transparent-bg.mui--text-center
								span.icon.icon-concierge.mui--text-display3
								p.mui--text-subhead Active and focused on-line presence
						.mui-col-sm-12.mui-col-xs-12.mui-col-md-6.mui-col-lg-6
							.mui-panel.transparent-bg.mui--text-center
								span.icon.icon-rating.mui--text-display3
								p.mui--text-subhead Active lead generation channel
						.mui-col-sm-12.mui-col-xs-12.mui-col-md-6.mui-col-lg-6
							.mui-panel.transparent-bg.mui--text-center
								span.icon.icon-like.mui--text-display3
								p.mui--text-subhead Relevant customer trials and walk-ins
						.mui-col-sm-12.mui-col-xs-12.mui-col-md-6.mui-col-lg-6
							.mui-panel.transparent-bg.mui--text-center
								span.icon.icon-popular.mui--text-display3
								p.mui--text-subhead Boost sales of memberships
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-4.mui-col-lg-4
						div.info-form.light-bg.mui-panel
							form#partnership.partner(name="partnership",autocomplete="off")
								h2.mui--text-title Enter the following Information.
								br
								p Our support team will get back to you on further Information.
								br
								div.fields
									.mui-textfield.mui-textfield--float-label
										input#fullname(type='text',data-validetta="required,minLength[4]")
										label Full Name
									.mui-textfield.mui-textfield--float-label
										input#email(type='email',data-validetta="required,email")
										label Email Address
									.mui-textfield.mui-textfield--float-label
										input#mobile(type='text',data-validetta="required,number,minLength[10],maxLength[12]")
										label Mobile Number
									.mui-textfield.mui-textfield--float-label
										input#location(type='text')
										label Location
									//- .mui-select
										select(name='category')
									.mui--text-right			
										button#listyourbusiness.mui-btn.mui-btn--small.mui-btn--primary(type="submit") Submit
							#partnershipthanks.mui-row.hide
								.mui-col-sm-12
									h2 Thank you for your details, we'll get back to you
block append js
	script(src="/js/static.js")										