extends static-layout
block append meta
	title Fitternity in Media | Fitternity
	meta(name="description" content="Fitternity on online media")
	link(rel="canonical", href="https://www.fitternity.com/the-fitness-canvas")
block content
	.static-wrapper#media-page
		.mediacontainer.sec-padtb
			.mui-container#slider
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-12.mui-col-lg-12
						h1.mui--text-center.mui--text-display2 MEDIA
						span.small-divider
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-8.mui-col-md-offset-2.mui-col-lg-8.mui-col-lg-2
						div.owl-carousel#main-media-slider
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-1.mui-col-lg-1.mui--hidden-xs.mui--hidden-sm
						button.mui-btn.mui-btn--fab.slide-prev(style="margin-top:8rem")
							i.fa.fa-chevron-left.mui--text-dark-secondary
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-10.mui-col-lg-10
						div.owl-carousel.sec-padtb#small-media-slider
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-1.mui-col-lg-1.mui--hidden-xs.mui--hidden-sm
						button.mui-btn.mui-btn--fab.slide-next(style="margin-top:8rem")
							i.fa.fa-chevron-right.mui--text-dark-secondary