extends static-layout
block append meta
	//- html(itemscope itemtype="http://schema.org/Article")
	title Privacy Policy | Fitternity
	meta(name="description" content="Privacy Policy. We at Fitternity.com work towards having the highest standards for secure transactions and customer information privacy. Please read the following statement to learn about our information gathering and dissemination")
	link(rel="canonical", href="https://www.fitternity.com/privacy-policy")
block content
	.static-wrapper.sec-padtb
		.termspage.sec-padtb
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-12.mui-col-lg-12
						h1.mui--text-center.mui--text-display2 PRIVACY POLICY
						span.small-divider
						ul
							li
								h4 GENERAL:
								ul
									li
										p   	Fitternity Health E-solution Private Limited (“Fitternity”) is committed to the protection of personal information provided by the Users to Fitternity. Users agree that use of Website implies consent to the collection, retention and use of Users personal information in accordance with the terms of this Privacy Policy (“Privacy Policy”).
									li
										p	Fitternity takes the privacy of Users seriously. Fitterntiy is committed to safeguarding the privacy of Users while providing Services in a personalized and valuable manner. 
									li
										p	No information provided by the User to Fitternity is rented or sold to any third party. When a User uses the Services, Users’ IP address and other personal information may automatically get stored. A high standard of security is maintained by Fitternity for Users. However, the transmission of information via the internet and web networks is not completely secure. While Fitternity does its best to protect Users’ information, particularly with respect to protection of Users’ personal data, Fitternity cannot ensure the security of Users’ data transmitted via the internet, web network or any other networks.
									li
										p	Access to the contents of Fitternity is conditional upon User’s approval of the Privacy Policy which should be read together with the terms of use of service (“Terms”). Users acknowledge that this Privacy Policy, together with our Terms of Use, forms a legally binding agreement with Fitternity in relation to the use of Services (“Agreement”). All capitalized terms used but not defined herein shall have the meaning ascribed to such term in the Terms.
							li
								h4 INFORMATION COLLECTED:
								ul
									li 
										p Traffic Data Collected
										p Fitternity automatically track and collect the following categories of information when Users access the Website: 
										ol
											li IP addresses;
											li 	Domain server details; 
											li  	Types of devices accessing the Website; 
											li 	Referring source which may have sent Users to the Website; and/or 
											li Other information associated with the interaction of User’s device and the Website (collectively "Traffic Data”).
									li
										h4 Personal Information Collected
										p In order for Users to access certain areas of the Website, Fitternity may require Users to provide Fitternity with certain information that personally identifies such Users ("Personal Information"). Personal Information inter alia includes the following categories of information: 
										ol
											li
												p	Contact Data (such as e-mail address, phone number and any other contact details); and/or
											li
												p 	Demographic Data (optional) (such as time zone, postal address and location details). 
										p If a User communicates with Fitternity by, for example, e-mail or letter, any information provided in such communication may be retained as Personal Information by Fitternity.
									li
										p	Website may contain links to third party websites. Users agree and understand that privacy policies of these third party websites are not under control of Fiternity. Users understand that once a User leaves Fitternity’s servers, any information such User provides will be governed by the privacy policy of the operator of the third party website used by such User.
							li
								h4 DISCLOSURE OF PERSONAL INFORMATION
								ul
									li
										p	Fitternity does not disclose User’s Personal Information to any third parties other than to Fitternity’s officers, employees, agents, consultants and affiliates.
									li
										p	Fitternity uses its best efforts to use Users’ information in aggregate form (so that no individual user is identified) for the following purposes: 
									ol
										li
											p To build up marketing profiles;
										li
											p To aid strategic development, data collection and business analytics;
										li
											p To manage relationship with advertisers and partners;
										li
											p To audit usage of Services; and/or
										li
											p To enhance User’s experience in relation to provision of Services (“collectively, “Permitted Use”).
									li	Fitternity reserves the right to disclose Personal Information if required to do so by law or if Fitternity believes that it is necessary to do so to protect and defend the rights, property or personal safety of Fitternity, the Services, or other Users. 
							li
								h4 CONFIDENTIALITY AND SECURITY
								ul
									li	Except as otherwise provided in this Privacy Policy, Fitternity will keep all Personal Information private and will not share it with third parties, unless Fitternity believes in good faith that disclosure of such Personal Information or any other information Fitternity collects about Users is necessary for Permitted Use or to:
									ol
										li
											p 	Comply with a court order or other legal process; 
										li
											p	Protect the rights, property or safety of Fitternity, Fitternity’s officers, employees, agents, consultants and affiliates or another party; 
										li
											p 	Enforce the Agreement, including Terms; or 
										li
											p 	Respond to claims that any posting or other content violates the rights of third-parties.
							li
								h4 SECURITY
								ul
									li
										p	The security of Users’ Personal Information is important to Fitternity. Fitternity follows generally accepted industry standards to protect the Personal Information submitted to Fitternity, both during transmission and once Fitterntiy receives it. 
									li
										p		Although Fitternity makes best possible efforts to store Personal Information in a secure operating environment that is not open to the public, Users should understand that there is no such thing as complete security, and Fitternity does not guarantee that there will be no unintended disclosures of Personal Information. If Fitternity becomes aware that certain Personal Information has been disclosed in a manner not in accordance with this Privacy Policy, Fitternity will use reasonable efforts to notify the concerned User of the nature and extent of such disclosure (to the extent Fitternity is aware of that information) as soon as reasonably possible and as permitted by law.
							li
								h4 UPDATES AND CHANGES TO PRIVACY POLICY
								ul
									li	Fitternity reserves the right, at any time, to add to, change, update, or modify this Privacy Policy. Users are requested to review this Privacy Policy frequently. If any change has been incorporated in this Privacy Policy by Fitternity, then Fitternity will post such changes on this page. In all cases, use of information Fitternity collects is subject to the Privacy Policy in effect at the time such information is collected by Fitternity.
							li
								h4 USERS’ RIGHTS
								ul
									li	Users have a right to correct any errors in such User’s Personal Information available with Fitternity. A User may request Fitternity in writing that Fitternity ceases to use such User’s Personal Information. Fitternity may stop providing Services to such a User, if so required.
							li
								h4 LIMITATION OF LIABILITY
								ul
									li
										p	No warranty of any kind, implied, expressed or statutory, including but not limited to the warranties of non-infringement of third party rights, title, merchantability, fitness for a particular purpose and freedom from computer virus, is given with respect to the Services provided by Fitternity, including provisions of Website.
									li
										p	Any reference on the Website to any specific commercial products, processes, or services, or the use of any trade, firm or corporation name is for the information and convenience of the public, and does not constitute endorsement, recommendation, or favoring by Fitternity.
									li
										p	Services provided by Fitternity only include provision of an online platform for facilitating buying and selling of fitness related product and services and promotion of fit and healthy lifestyle, unless other has expressly been provided in the Terms. The products and services made available through the Services for sale are sold on ‘as-is’ basis and Fitternity has no responsibility with respect to adequacy, relevancy or authenticity of such products listed by the Sellers. Fitternity is not responsible for any information provided by one User to the other User, or by Seller to the Buyer, or by Buyer to the Seller, in the course of Service and this Privacy Policy governs Fitternity’s relationship with the Users only with respect to information provided by the Users to Fitternity and/or the information collected by Fitternity from the Users.
								p If Users have questions or concerns, they may email Fitternity at info@fitternity.com and Fitternity will attempt to address Users’ concerns at the earliest.
								p Last updated on: 23 September 2015
									