extends static-layout
block append meta	
	title Sitemap | Fitternity
	meta(name="description" content="User sitemap fitternity")
block content
	.static-wrapper.sec-padtb
		.siteMapPage.sec-padtb
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-12.mui-col-lg-12
						.sec-padtb
							h1.mui--text-center.mui--text-display2 Site Map
							span.small-divider
			.mui-container.static-container.sitemap
				.mui-row
					.mui-col-sm-6.mui-col-xs-6.mui-col-md-3.mui-col-lg-3.mui--text-left
						h4.mui--text-title(style="padding-left:1.5rem")  Mumbai
						.sitemapuser
							ul
								li
									a.icon(href="/mumbai/gyms/all/all/all/all") Gyms
								li
									a.icon(href="/mumbai/yoga/all/all/all/all") Yoga
								li
									a.icon(href="/mumbai/pilates/all/all/all/all") Pilates
								li
									a.icon(href="/mumbai/dance/all/all/all/all") Dance
								li
									a(href="/mumbai/zumba/all/all/all/all") Zumba
								li
									a.icon(href="/mumbai/martial-arts/all/all/all/all") Martial Arts
								li
									a(href="/mumbai/kick-boxing/all/all/all/all") Kick Boxing
								li
									a(href="/mumbai/swimming/all/all/all/all") Swimming
								li
									a(href="/mumbai/spinning-and-indoor-cycling/all/all/all/all") Spinning
								li
									a(href="/mumbai/personal-trainers/all/all/all/all") Personal Trainers
								li
									a.icon(href="/mumbai/dietitians-&-nutritionists/all/all/all/all") Dietitians &#38; Nutritionists
								li
									a(href="/mumbai/cross-functional-training/all/all/all/all") Cross/Functional Training
								li
									a.icon(href="/mumbai/crossfit/all/all/all/all") Crossfit
								li
									a(href="/mumbai/marathon-training/all/all/all/all") Marathon Training
								li
									a.icon(href="/mumbai/physiotherapists/all/all/all/all") Physiotherapists
								li
									a.icon(href="/mumbai/sports/all/all/all/all") Sports						
					.mui-col-sm-6.mui-col-xs-6.mui-col-md-3.mui-col-lg-3.mui--text-left
						h4.mui--text-title(style="padding-left:1.5rem")  Pune
						.sitemapuser
							ul
								li
									a.icon(href="/pune/gyms/all/all/all/all") Gyms
								li
									a.icon(href="/pune/yoga/all/all/all/all") Yoga
								li
									a.icon(href="/pune/pilates/all/all/all/all") Pilates
								li
									a.icon(href="/pune/dance/all/all/all/all") Dance
								li
									a(href="/pune/zumba/all/all/all/all") Zumba
								li
									a.icon(href="/pune/martial-arts/all/all/all/all") Martial Arts
								li
									a(href="/pune/kick-boxing/all/all/all/all") Kick Boxing
								li
									a(href="/pune/swimming/all/all/all/all") Swimming
								li
									a(href="/pune/spinning-and-indoor-cycling/all/all/all/all") Spinning
								li
									a(href="/pune/personal-trainers/all/all/all/all") Personal Trainers
								li
									a.icon(href="/pune/dietitians-&-nutritionists/all/all/all/all") Dietitians &#38; Nutritionists
								li
									a(href="/pune/cross-functional-training/all/all/all/all") Cross/Functional Training
								li
									a.icon(href="/pune/crossfit/all/all/all/all") Crossfit
								li
									a(href="/pune/marathon-training/all/all/all/all") Marathon Training
								li
									a.icon(href="/pune/physiotherapists/all/all/all/all") Physiotherapists
								li
									a.icon(href="/pune/sports/all/all/all/all") Sports
					.mui-col-sm-6.mui-col-xs-6.mui-col-md-3.mui-col-lg-3.mui--text-left
						h4.mui--text-title(style="padding-left:1.5rem")  Bangalore
						.sitemapuser
							ul
								li
									a.icon(href="/bangalore/gyms/all/all/all/all") Gyms
								li
									a.icon(href="/bangalore/yoga/all/all/all/all") Yoga
								li
									a.icon(href="/bangalore/pilates/all/all/all/all") Pilates
								li
									a.icon(href="/bangalore/dance/all/all/all/all") Dance
								li
									a(href="/bangalore/zumba/all/all/all/all") Zumba
								li
									a.icon(href="/bangalore/martial-arts/all/all/all/all") Martial Arts
								li
									a(href="/bangalore/kick-boxing/all/all/all/all") Kick Boxing
								li
									a(href="/bangalore/swimming/all/all/all/all") Swimming
								li
									a(href="/bangalore/spinning-and-indoor-cycling/all/all/all/all") Spinning
								li
									a(href="/bangalore/personal-trainers/all/all/all/all") Personal Trainers
								li
									a.icon(href="/bangalore/dietitians-&-nutritionists/all/all/all/all") Dietitians &#38; Nutritionists
								li
									a(href="/bangalore/cross-functional-training/all/all/all/all") Cross/Functional Training
								li
									a.icon(href="/bangalore/crossfit/all/all/all/all") Crossfit
								li
									a(href="/bangalore/marathon-training/all/all/all/all") Marathon Training
								li
									a.icon(href="/bangalore/physiotherapists/all/all/all/all") Physiotherapists
								li
									a.icon(href="/bangalore/sports/all/all/all/all") Sports
					.mui-col-sm-6.mui-col-xs-6.mui-col-md-3.mui-col-lg-3.mui--text-left
						h4.mui--text-title(style="padding-left:1.5rem")  Delhi
						.sitemapuser
							ul
								li
									a.icon(href="/delhi/gyms/all/all/all/all") Gyms
								li
									a.icon(href="/delhi/yoga/all/all/all/all") Yoga
								li
									a.icon(href="/delhi/pilates/all/all/all/all") Pilates
								li
									a.icon(href="/delhi/dance/all/all/all/all") Dance
								li
									a(href="/delhi/zumba/all/all/all/all") Zumba
								li
									a.icon(href="/delhi/martial-arts/all/all/all/all") Martial Arts
								li
									a(href="/delhi/kick-boxing/all/all/all/all") Kick Boxing
								li
									a(href="/delhi/swimming/all/all/all/all") Swimming
								li
									a(href="/delhi/spinning-and-indoor-cycling/all/all/all/all") Spinning
								li
									a(href="/delhi/personal-trainers/all/all/all/all") Personal Trainers
								li
									a.icon(href="/delhi/dietitians-&-nutritionists/all/all/all/all") Dietitians &#38; Nutritionists
								li
									a(href="/delhi/cross-functional-training/all/all/all/all") Cross/Functional Training
								li
									a.icon(href="/delhi/crossfit/all/all/all/all") Crossfit
								li
									a(href="/delhi/marathon-training/all/all/all/all") Marathon Training
								li
									a.icon(href="/delhi/physiotherapists/all/all/all/all") Physiotherapists
								li
									a.icon(href="/delhi/sports/all/all/all/all") Sports										
					.mui-col-sm-6.mui-col-xs-6.mui-col-md-3.mui-col-lg-3.mui--text-left
						h4.mui--text-title(style="padding-left:1.5rem")  Articles
						.sitemapuser
							ul
								li
									a(href="/articles/cardio") Cardio
								li
									a(href="/articles/strength") Strength
								li
									a(href="/articles/flexibility") Flexibility
								li
									a(href="/articles/nutrition") Nutrition
								li
									a(href="/articles/recipies") Recipies
								li
									a(href="/articles/eating_out") Eating Out
								li
									a(href="/articles/mind") Mind
								li
									a(href="/articles/relationships") Relationships
								li
									a(href="/articles/lifestyle") Lifestyle
				
				