extends static-layout
block append meta
	//- html(itemscope itemtype="http://schema.org/Article")
	title Terms &amp; Conditions | Fitternity
	meta(name="description" content="Terms & Conditions By accessing or using the Fitternity.com website, or its applications (including mobile applications) you agree to be bound by these terms of use (&quot;Terms of Use&quot;). Fitternity Health E-solution Private Limited")
	link(rel="canonical", href="https://www.fitternity.com/terms-&-conditions")
block content
	.static-wrapper.sec-padtb
		.termspage.sec-padtb
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-12.mui-col-lg-12
						h1.mui--text-center Terms &amp; Conditions
						p By accessing or using the Fitternity.com website, or its applications (including mobile applications) you agree to be bound by these terms of use ("Terms of Use"). Fitternity Health E-solution Private Limited owns this property. These Terms of Use may affect your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, do not access or use the Service.
						h4 Terms:
						ul
							li
								p You must be at least 18 years old to use the Fitternity.com.
							li
								p You must not post violent, nude, partially nude, discriminatory, unlawful, infringing, hateful, pornographic or sexually suggestive photos or other content via the Service.
							li
								p You are responsible for any activity that occurs through your account on Fitternity.com. Fitternity Health E-solution Private Limited is not responsible for any problems and situation that arises
							li
								p You are responsible for keeping your password secret and secure.
							li
								p You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information via the Service, including, without limitation
							li
								p You may not use the Service for any illegal or unauthorized purpose. You agree to comply with all laws, rules and regulations applicable to your use of the Service and your Content (defined below), including but not limited to, copyright laws.
							li
								p You are solely responsible for your conduct and any data, text, files, information, usernames, images, graphics, photos, profiles, audio and video clips, sounds, applications, links and other content or materials (collectively, "Content") that you submit, post or display on or via the Service.
							li
								p You must not create or submit unwanted email, comments, likes or other forms of commercial or harassing communications (a/k/a "spam") to any Fitternity.com users.
							li
								p You must not use domain names or web URLs in your username without prior written consent from Fitternity.com.
							li
								p You must not create accounts with the Service through unauthorized means, including but not limited to, by using an automated device, script, bot, spider, crawler or scraper.
							li
								p Fitternity.com does not claim ownership of any Content that you post on or through the Service. Instead, you hereby grant to Fitternity.com a non-exclusive, fully paid and royalty-free, transferable, sub-licensable, worldwide license to use the Content that you post on or through the Service, subject to the Service's Privacy Policy.
							li
								p You represent and warrant that: (i) you own the Content posted by you on or through the Service or otherwise have the right to grant the rights and licenses set forth in these Terms of Use; (ii) the posting and use of your Content on or through the Service does not violate, misappropriate or infringe on the rights of any third party, including, without limitation, privacy rights, publicity rights, copyrights, trademark and/or other intellectual property rights; (iii) you agree to pay for all royalties, fees, and any other monies owed by reason of Content you post on or through the Service; and (iv) you have the legal right and capacity to enter into these Terms of Use in your jurisdiction.
							li
								p The Fitternity.com name and logo are trademarks of Fitternity Health e-Solution Private Limited, and may not be copied, imitated or used, in whole or in part, without the prior written permission of Fitternity.com. In addition, all page headers, custom graphics, button icons and scripts are service marks, trademarks and/or trade dress of Fitternity.com, and may not be copied, imitated or used, in whole or in part, without prior written permission from Fitternity Health E-Solution Private Limited.
							li
								p Although it is Fitternity.com’s intention for the Service to be available as much as possible, there will be occasions when the Service may be interrupted, including, without limitation, for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and/or equipment. Also, Fitternity.com reserves the right to remove any Content from the Service for any reason, without prior notice.
							li
								p You agree that Fitternity.com is not responsible for, and does not endorse, Content posted within the Service. Fitternity.com does not have any obligation to prescreen, monitor, edit, or remove any Content. If your Content violates these Terms of Use, you may bear legal responsibility for that Content.  
						h4 Conditions:
						ul
							li
								p We reserve the right to modify or terminate the Service or your access to the Service for any reason, without notice, at any time, and without liability to you.
							li
								p Upon termination, all licenses and other rights granted to you in these Terms of Use will immediately cease.
							li
								p We reserve the right, in our sole discretion, to change these Terms of Use ("Updated Terms") from time to time.
							li 
								p We reserve the right to force forfeiture of any username for any reason.
							li 
								p We may, but have no obligation to, remove, edit, block, and/or monitor Content or accounts containing Content that we determine in our sole discretion violates these Terms of Use.
							li 
								p You are solely responsible for your interaction with other users of the Service, whether online or offline. You agree that Fitternity.com is not responsible or liable for the conduct of any user. Fitternity.com reserves the right, but has no obligation, to monitor or become involved in disputes between you and other users. Exercise common sense and your best judgment when interacting with others, including when you submit or post Content or any personal or other information.
							li 
								p We respect other people's rights, and expect you to do the same. If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate