extends static-layout
block append meta
	//- html(itemscope itemtype="http://schema.org/Article")
	title Terms of Use | Fitternity
	meta(name="description" content="Terms & Conditions By accessing or using the Fitternity.com website, or its applications (including mobile applications) you agree to be bound by these terms of use (&quot;Terms of Use&quot;). Fitternity Health E-solution Private Limited")
	link(rel="canonical", href="https://www.fitternity.com/terms-&-conditions")
block content
	.static-wrapper.sec-padtb
		.termspage.sec-padtb
			.mui-container
				.mui-row
					.mui-col-sm-12.mui-col-xs-12.mui-col-md-12.mui-col-lg-12
						h1.mui--text-center.mui--text-display2 Terms of Use
						span.small-divider
						p.mui--text-subhead These terms of use of service (“Terms”) along with the privacy policy (“Privacy Policy”) together constitute a legally binding agreement (“Agreement”) between Fitternity Health E-solution Private Limited (“Fitternity” or “Us” or “We”) and the End User (“you” or “User”) for using the Website (defined hereinafter). 
						br
						p.mui--text-subhead If you have any questions regarding the Terms, you may contact Us at 022-6122222222 or e-mail at info@fitternity.com.
						ul
							li
								h4.mui--text-title Definations:
								ul
									li
										p.mui--text-body1 For the purposes of this Agreement, all the defined and captioned terms have such meaning as assigned to them herein below:
										ol
											li
												p “Buyers” shall mean Users who or which use Services to purchase fitness products and services through the Website
											li
												p “Person” shall mean any natural person, limited or unlimited liability company, corporation, partnership (whether limited or unlimited), proprietorship, Hindu undivided family, trust, union, association, government or any agency or political subdivision thereof or any other entity that may be treated as a person under applicable law.
											li
												p “Privacy Policy” shall means the privacy policy of Fitternity with respect to treatment of Users’ information as provided here.
											li
												p “Sellers” shall mean individuals and organizations who or which display, market and sell their fitness products and services through the Website, but excludes Fitternity.
											li
												p “Services” shall mean services provided by Fitternity, including provision of Website to Users, information about sellers, providing means to access them, sale of memberships and subscriptions and display, marketing and/or sale of fitness product and services by Fitternity through the Website and other services provided through the Website to promote fitness and 
											li
												p “Terms” shall mean these terms and conditions of use and service which form a part of the Agreement governing Users’ relationship inter se and with Fitternity.
											li
												p “Users” shall mean any Person who or which uses the Services, including Buyers and Persons who or which access the Website or any Content displayed thereof.
											li
												p “Website” shall mean the online platform www.fitternity.com as provided by Fitternity to provide Services, including facilitating display, marketing and sale of fitness products and services and information fitness and healthy lifestyle.
									li
										p Any capitalized terms not defined above in Clause 1.1 will have such meaning as assigned to them under the respective Clauses of the Agreement.
									li
										h4 INTERPRETATION
										ul
											li
												p Any reference to the singular includes a reference to the plural and vice versa, unless explicitly stated otherwise.
											li
												p Any reference to one gender includes a reference to the other gender(s), unless explicitly provided for.
											li
												p Headings and captions are used for convenience only and not for interpretation of the Agreement.
											li
												p Any reference to a natural person shall, include his/her heirs, executors and permitted assignees and any reference to a juristic person shall, include its affiliates, successors and permitted assignees, unless repugnant to the context.
									li
										h4 USERS’ ELIGIBILITY AND APPROVAL
										ul
											li
												p Users understand that Fitternity does not want the Users to access the Services if Users do not understand, approve of or accept each and every term specified in this Agreement. Hence, Users are requested to read these Terms and Privacy Policy carefully and understand the Agreement before approving, accepting and agreeing to be bound by it.
											li
												p	A User may accept this Agreement only when:
									ol
										li
											p if such User is a natural person of the legal age, eligibility and mental capability to form a binding contract; or
										li
											p if such User is not a legal person, is lawfully existing and has all the authorizations, permits and allowances to enter into this Agreement and form a binding contract; and
										li
											p such User is not legally barred or restricted from using any of the Services.
									li
										p Users approve of and accept this Agreement by accessing any of the Services offered by Fitternity, including by simply accessing the Website or any Content thereof.
							li
								h4 PROVISION OF THE SERVICES
								ul
									li
										p	Services provided to Users by Fitternity are subject to Users’ acceptance and approval of this Agreement. Fitternity reserves the right to modify, at any time, the nature of Services or any part of Services and the terms of this Agreement. Users are requested to regularly visit and review these Terms and Privacy Policy, as may be updated from time to time.
									li
										p	The purpose of provision of Services is to facilitate an online market place for the Buyers and Sellers for display, marketing and/or sale of fitness related services and products. The Website is also engaged in various activities for promoting a healthy lifestyle, including providing fitness and lifestyle related blogs, expert approvals of fitness blogs, listing of nearest fitness centres etc. 
									li
										p	The Services may be availed by the Users by: 
									ol
										li
											p	booking trials and appointments through the Website for fitness related services;
										li
											p	purchasing a memberhsip offered by Sellers on the platform
										li
											p   placing an order through the Website for delivery of a fitness related product;
										li
											p	accessing (either though itself or through another Person) the Website or any Content thereof; 
										li
											p	simply surfing and/or browsing the Website
									li
										p	In order to provide certain parts of Services to the Users Fitternity may require the Users to register on the Website by providing certain information (“Registrable Services”). Users agree and understand that Registrable Services shall not be provided by Fitternity to a User unless such User registers on the Website in the form and manner required by Fitternity.
									li
										p	Users agree and acknowledge that provision of Registrable Services is depended on the information provided by a User to access such Registrable Services and ensure that all such information provided by the User to Fitternity in order to access the Registrable Services shall always be true, accurate, complete and updated.
									li
										p	The Website may include links to other online platforms which may contain materials that are objectionable, unlawful, or inaccurate. Fitternity does not endorse or support these links or the products and services they provide; these links are provided for Users’ convenience only. Fitternity is not responsible or liable for the content or accuracy of such links.
									li
										p	Subject to applicable law, Fitternity may stop provision of Services (or any part of Services), permanently or temporarily, to a User or to Users generally or may modify or change the nature of Services and/or these Terms at its sole discretion, without any prior notice to the Users. Use of Services by a Person following any such modification constitutes such Person’s deemed acceptance to be bound by this Agreement (or as it may be modified).
							li
								h4 USE OF SERVICES
								ul
									li
										p	In order to use Services, a Person will require accessing the Website through internet in such form and manner as provided by Fitternity. Fitternity may update the Website from time to time in order to ensure a better User experience and consequently may temporarily cut or restrict Users’ access to the Website or to the Services.
									li
										p	Users shall use the Services only for such purposes as is permitted:
									ol
										li
											p	by this Agreement;
										li
											p	if User is a natural person, by any law, regulation or generally accepted practices or guidelines applicable in the country of which User is a citizen, in which User is a resident or from where User accesses the Services; and
										li
											p	if User is a Person other than a natural person, by any law, regulation or generally accepted industry practices and guidelines applicable in the country where User is registered, where User maintains its principle office or from where User accesses the Services.
									li
										p	While most parts of the Services are available to Users free of cost, certain parts of Services may be provided to the Users at a cost. Fitternity reserves that right to amend these Terms and impose a cost on free parts of Services in future. Fitternity will use its reasonable efforts to give Users a prior intimation as and when any part of free Service becomes a paid Service. If, after being so intimated, any User access paid parts of Services, cost for such paid Services shall become due and payable by such User to Fitternity and Fitternity shall have the right to recover the cost of provision of such paid Service to the User, from the User.
									li
										p	Users agree and acknowledge that with respect to any content that may be created, accessed or uploaded by another User or Seller on the Website and/or through the Services, including any comments and feedbacks on the fitness product and services by the Users and/or fitness blogs posted by the Users (“Content”), Users shall be bound by specific roles and obligations detailed in Section 7 of these Terms, in addition to other obligations contained elsewhere in the Agreement.
									li
										p	Users who or which have registered for accessing Registrable Services shall be provided access to an online account on the Website through which such Users may access the Registrable Services. It shall be the sole responsibility of the Users to maintain the privacy and confidentiality their access details (user id, password etc.) with respect to Registrable Services. Any access to or use of Registrable Services from the registered account of a User shall be construed as access to or use of such Registrable Services by such registered User.
							li
								h4 RESTRICTION ON USE OF SERVICES
								ul
									li
										p	Users will not use the Services or any Content for any purpose that is illegal, unlawful or prohibited by this Agreement.
									li
										p	Users will not access (or attempt to access) the Services or Content provided through the Services by any means other than in the form and manner provided by Fitternity, unless such User has been specifically allowed to do so in a separate written agreement with Fitternity.
									li
										p	Users will not circumvent or disable any digital rights management, usage rules, or other security features of the Website; remove, alter, or obscure any proprietary notices (including copyright notices) on any portion of the Website; and not use Services in any manner that threatens or is likely to threaten the integrity, performance or availability of Services.
									li
										p	Users will not attempt to or engage in any activity that may:
									ol
										li
											p	reverse engineer, decompile or otherwise extract the source code(s) related to the Services or any part thereof, unless it is expressly permitted by Fitternity in writing or is required by applicable law;
										li
											p	use any robot, spider, retrieval application, or other device to retrieve or index any portion of Services or Content;
										li
											p	collect information about other Users in any illegal or unlawful manner for any illegal or unlawful purpose;
										li
											p	register on the Website to access Registrable Services or create any online accounts by automated means or under false or fraudulent pretences for using the Services;
										li
											p	transmit any viruses, worms, defects, trojan, or any items of a destructive nature through Services;
										li
											p	use Services in any manner that can damage, disable, overburden, or impair, or undertake any action which is harmful or potentially harmful to, any of the servers, networks, computer systems or resources connected to any of the servers connected, directly or indirectly to the Services, or interfere with any other third party's access to and enjoyment of Services;
										li
											p	carry out any denial of service (DoS, DDoS) or any other harmful attacks on the Website or; disrupt or place unreasonable burdens or excessive loads on, or interfere with or attempt to make, or attempt any unauthorized access to Services or any part of Services or any User;
										li
											p	forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the Website; or
										li
											p	obtain any materials or information through any means not intentionally made available, in the opinion of Fitternity, through Services.
									li
										p	Users agree and undertake not to impersonate another Person or impersonate, guide or host on behalf of, or falsely state or otherwise misrepresent its own affiliation with any Person, including, but not limited to Fitternity, Fitternity’s officials, employees, agents, partners, affiliates, dealers and/or franchisees.
							li
								h4 ROLES AND OBLIGATIONS OF FITTERNITY AND USERS
								ul
									li
										p	Users agree to the following roles and obligations in order to avail Services:
									ol
										li
											p	Marketplace of fitness product and services: Subject to other provisions of this Agreement, Buyers may purchase and Sellers may sell any fitness products and services through the Website. For such purchase of fitness products and services, in addition to other applicable terms of the Agreement, Users specifically agree to the roles and obligations of the Buyers set out under Section 7.2 of these Terms. For marketing, sale and/or promotion of fitness products and services through the Website, in addition to other applicable terms of the Agreement, Sellers will be required to enter into a separate written agreement with Fitternity. Any sale of fitness products and services through the Website will constitute a contract of sale between the Buyer of such fitness related products and services and the Seller of such fitness products and services and all fitness products and services shall be delivered by such Seller to such Buyer directly. Fitternity shall not be responsible for delivery, merchantability, quality, suitability and aptness of any product or service sold or delivered or accessed using the Website.
										li
											p	Content in relation to Services: Users may create and/or display Content (including information regarding the offerings of Sellers, pictures, comments, ratings and feedbacks) on the Website. By displaying any Content on the Website, unless agreed to and provided for to the contrary, Users grants Fitternity a right to use such content in any manner.
										li
											p	Content Responsibility:	Users acknowledge and understand that Fitternity shall not review, and cannot review, all of the Content displayed on the Website, and cannot therefore be responsible for such Content (unless such Content has been created by Fitternity itself). Each User is entirely responsible for any Content displayed or accessed by such User through the Website, and any harm resulting from display or use of such Content.
										li
											p	Removal of Content: Users understand and acknowledge that if a User deletes or removes any Content from display, Fitternity will use reasonable efforts to facilitate removal of such Content from the Website, but cache, cookies, back up files or references to such deleted Content may not be immediately removed and/or disposed off.
										li
											p	Commercial Use: Unless agreed to the contrary in writing, Services provided by Fitternity are for non-commercial and personal use of the Users only. Users are not allowed to copy, reproduce, alter, modify, create derivative works of, or publicly display any Services or any part thereof without a prior written consent of Fitternity.
									li
										p	Buyers agree to the following roles and obligations in order to avail the Services:
									ol
										li
											p	Purchase of fitness products and services: Buyers may purchase fitness products and services from Sellers through the Website at the price provided therein. Buyers acknowledge that such purchase of fitness products and services is being made directly from the Seller through the Website and Fitternity is only providing a platform for the Buyers and Sellers to interact online with respect to such sale through the Website.
										li
											p	Registration: Buyers will need to register with Fitternity through the Website by providing such information as may be requested by Fitternity from the Buyer. The information provided by the Buyer while registering or at the time of finalizing a purchase shall be the final billing address and shipping address for delivery of the fitness product and/or service.
										li
											p	Adequacy of Information: The Buyer represents and warrants that all the information furnished by such Buyer at the time of registration will be true, complete, correct and updated and any change in such information will be updated by the Buyer and intimated to Fitternity immediately. Fitternity is entitled to act on the basis of the information provided by the Buyer and seek such further information, clarifications or verifications as it may deem necessary for granting registration. Such registration may be suspended or cancelled if Fitternity is of the view that any of such information may be fake, incomplete, false, redundant or inaccurate.
										li
											p	Confirmations and Invoicing: All order confirmations and invoices will be raised by Fitternity based on the registration information provided by the Buyer and available with Fitterntiy at the time of making a purchase and accordingly payments will be accepted by Fitternity only from the Buyer so registered.
										li
											p	Payments: Once Buyer has placed an order on the Website for purchasing any fitness product or service; Buyer is required to make advance payment of the price of the fitness product or services in such form and manner as permissible by the Website. Fitternity may use third party platforms in order to facilitate such payment by the Buyers and will not be responsible for any loss or damage caused to the Buyer by any such third parties.
										li
											p	Acceptance of Delivery: Buyers acknowledges that placing an order for purchase through Fitternity constitutes an irrevocable acceptance of the purchase and accept delivery/use of such fitness product and/or services once such order has been delivered/used, unless rescinded/cancelled by Fitternity within a reasonable time on account of a default by the Seller or any prior or continuing breach by the Buyer.
										li
											p	Limitation of Liability: Buyer acknowledges that Seller (and not Fitternity) will be responsible for adequacy and accuracy of information displayed with respect to fitness products and services, the entire process of sale of fitness products and services including pricing of fitness products and services, delivery/use, return, packaging and authenticity of the fitness products and services. Fitternity’s limited responsibility in terms of provision of Services is dependent on the information provided by the Buyer. In case of any inaccuracies in any information provided by a Buyer, Fitternity shall not be responsible for any consequences thereof.
									li
										p Fitternity shall play the following role and have the following rights with respect to provision of Services:
									ol
										li
											p	Content License: Users hereby grant to Fitternity and Fitternity hereby accepts a worldwide, non-exclusive, sub licensable, limited license to use any Content uploaded by the User on Website for using the Services or otherwise. For avoidance of any doubt, ownership of all Content uploaded by the User on the Website shall rest with such User and Fitternity shall use such Content only for limited purposes as agreed herein (“Content License”).
										li
											p	Promotion of Content: Fitternity may feature any Users or any Content in any curation, assortment, marketing story or other social media content on the Website by giving due credit to the Users.
										li
											p	Non-Exclusivity: Fitternity has a right to engage with multiple Users at the same time for provision of Services or same part of Services or for engagement in same or similar activity.
										li
											p	Prohibit Access: Fitternity reserves the right to, at its sole and absolute discretion, deactivate any User’s account on the Website and block any User’s access to Website upon a material violation of this Agreement by such User. Fitternity also reserves the right to block or suspend the use of Website, Content, or Services at any time for any reason. Fitternity shall use best efforts to give a reasonable notice of such prohibition to the concerned User.	
							li
								h4 TERMINATION
								ul
									li
										p	Each User is bound by the Agreement from the time such User commences using the Services till the time such User ceases to use Services. Notwithstanding anything else contained herein, all the rights and obligations of Users under this Agreement, which either expressly or by their nature survive the termination of this Agreement, will not be extinguished by termination of this Agreement.
									li
										p	User may terminate this Agreement by ceasing access to Services in any manner, including disabling access to Registered Services. Fitterntiy may terminate this Agreement with respect to any User by suspending or permanently barring access to Services.
									li
										p	Fitternity reserves the right to terminate Users’ access to Services or any part of Services, at any time if:
									ol
										li
											p	such User, knowingly or unknowingly, causes direct or indirect breach, as ascertained by Fitternity, of these Terms or Privacy Policy or any part of the Agreement;
										li
											p	such User does not pay the requisite cost of using such part of Services which is not provided by Fitternity free of cost and is paid in nature;
										li
											p	a third party (if any) with whom Fitterntiy offers Services has terminated its relationship with Fitterntiy or ceased to offer the related services to Fitterntiy or to such User;
										li
											p	provision of Services or any part of Services is no longer commercially viable or feasible for Fitterntiy;
										li
											p	Fitterntiy believes that such User is a repeat infringer of the terms of this Agreement; or
										li
											p	Fitternity is required to terminate this Agreement by applicable law, government order or order of a court with requisite jurisdiction.
									li
										p	Upon termination of this Agreement with respect to a User, all the legal rights, obligations and liabilities that such User and Fitterntiy have benefited from, been subject to (or which have accrued over time whilst the Agreement has been in force) or which are expressed to continue indefinitely, shall be unaffected by this cessation, and shall continue to apply to such rights, obligations and liabilities indefinitely.
							li
								h4 INTELLECTUAL PROPERTY RIGHTS AND DATA OWNERSHIP
								ul
									li
										p	Use of Services shall, at all times, be governed by and subject to the applicable laws regarding copyright, trademark, patent, and trade secret ownership and use of intellectual property and Users agree to abide by such laws. A User shall solely be responsible for any violation of any law or for any infringement of any intellectual property rights caused by such User’s use of Services.
									li
										p	When a User uploads, submits, stores or sends any Content to or through the Services, such User grants the Content License to Fitternity including, Fitternity’s employees, agents, consultants (as the case may be) to use, copy, transmit, host, store, reproduce, modify, create derivative works of, communicate, publish, publicly perform, publicly display, print, edit, translate, reformat and distribute such Content. The rights Users grant in this license are for the limited purpose of operating, promoting, and improving Services, and to develop new services. This license shall continue to operate even if a User stops using Services or terminates this Agreement.
									li
										p	Unless specified to the contrary and subject to applicable law, ownership of all intangible and/or intellectual property developed or existing (including any data generated as a result of Services) shall ab initio rest with Fitternity. Nothing in these Terms shall be construed as granting of any implied licenses by Fitternity and all rights not expressly granted to a User are reserved solely by Fitternity unless specified otherwise.
									li
										p	Notwithstanding anything else contained herein and subject to applicable law, ownership of any data generated pursuant to Fitternity’s engagement with Users and/or provision of Services shall rest solely with Fitternity and Fitternity may use such data for any purpose in accordance with its Privacy Policy.
									li
										p	Fitternity respects the intellectual property rights of Persons and does not hold any responsibility for any violations   of any intellectual property rights by Users. 
							li
								h4 PRIVACY
								ul
									li
										p	Privacy Policy explains how Fitternity treats Users’ data and protects Users’ privacy when Users use the Services. By using the Services, Users agree that Fitternity can use such User generated data according to Privacy Policy.
									li
										p	Users are responsible for maintaining the confidentiality of passwords associated with any device or online accounts that Users use to access Services. Accordingly, a User is solely responsible for all activities that occur with use of such Users’ online account or device. If a User becomes aware of any unauthorized use of its online account of device, such User will immediately notify the relevant authorities of the same.
							li
								h4 LIMITATION OF LIABILITY AND INDEMNIFICATION
								ul
									li
										p	Use of Services and/or Content is entirely at User’s own risk and Fitternity shall not be liable for any direct, indirect, incidental, consequential, special, exemplary, punitive, monetary or any other damages, fees, fines, penalties or liabilities whatsoever arising out of or relating to a User’s use of Services or Content.
									li
										p	Fitternity shall make reasonable efforts to make the Services available to Users in the best possible manner. However, a User may cease from accessing the Services if such User is not satisfied with Services.
									li
										p	Users acknowledge that Services only include providing an online platform for displaying, marketing, buying, selling and promoting fitness related product and services. Any sale transaction made between a Buyer and a Seller shall constitute an agreement of sale between such Buyer and Seller and Fitternity shall have no liability with respect to quality, appropriateness, merchantability, authenticity and accuracy of the goods or services sold or provided, the delivery, delivery condition, packaging and insurance costs associated with the goods or services sold through the Website. Fitternity, by providing the Website, does not constitute an institution of agency with any of its Users and Fitternity’s relationship with each and every individual User shall be on a principal to principal basis. Please refer to Section 7 to access and understand the roles and obligations of Users and Fitternity in relation to provision of Services by Fitternity.
									li
										p	Users shall defend, indemnify and hold Fitternity, and Fitternity’s officers, directors, employees, representatives, consultants and agents harmless from and against any claims, actions, demands, liabilities, judgments, and settlements, including without limitation, reasonable legal fee that may result from or alleged to result from (a) such User’s access to or use of the Services; (b) such User’s breach of any rules, regulations and/or orders under any applicable law; or (c) such User’s breach of any obligation under this Agreement.
									li
										p	Each User is responsible for any breach of its obligations under the Agreement and/or for the consequences of any such breach.
							li
								h4 NO WARRANTIES
								ul
									li
										p	Fitternity disclaims all warranties in relation to access to or provision of Services, whether express or implied, including but not limited to:
									ol
										li
											p	Services being constantly available or available at all;
										li
											p	Services being successfully executed in all cases; 
										li
											p	Website being always functional without any disruption, delay or error;
										li
											p	User’s ability to use the Services, directly or indirectly;
										li
											p	Users’ satisfaction with the Services;
										li
											p	the accuracy of the data provided in the course of Service; 
										li
											p	the security and privacy of each User’s data;
										li
											p	that all bugs or errors in relation to Services will be fixed or corrected;
										li
											p	that Website will be compatible with all devices, all networks and all browsers; 
										li
											p	that use of Services is fit for a particular purpose or use, except as provided herein; or
										li
											p	that Services and Contents is accessible in every location.
									li
										p	Fitternity, Fitternity’s officers, directors, employees, affiliates and agents and any other service provider responsible for providing Services in connection with this Agreement will not be liable for any acts or omissions, including of a third party, and including those vendors participating in Fitternity’s offerings made to Users, or for any unauthorized interception of data or breaches of this Agreement attributable in part to the acts or omissions of third parties, or for damages associated with Fitternity, or equipment that it does not furnish, or for damages that result from the operation systems, equipment, facilities or services or products provided by third parties that are interconnected with Fitternity.
							li
								h4 GOVERNING LAW AND DISPUTE RESOLUTION
								ul
									li
										p	The Services may be provided from and the Website may be controlled and operated from and through any country and may be subject to the laws of that country. When a User accesses the Services from any location, then, the User is responsible for compliance with the local laws applicable to such User.
									li
										p	This Agreement shall be governed by and shall be construed in accordance with the laws of India. All disputes relating to this Agreement shall be settled in the courts located at Mumbai, India.
									li
										p	Any cause of action arising out of a User’s use of Services must be commenced within 30 (thirty) days after (a) when such cause of action accrues; or (b) such User becomes aware of the facts giving rise to the cause of action, whichever is later, else, such cause of action shall be permanently barred.
							li
								h4 NOTICES
								ul
									li Fitternity may post notices within the Website or send Users notices on the registered e-mail address or the telephone numbers as shared by the Users with Fitternity. Users will deemed to have received such notices, if sent via e-mail, within 24 (twenty four) hours of Fitternity sending the notice. Use of Services by any User after expiry of 3 (three) days from the day notice was sent, shall constitute receipt and acceptance of the notices sent to the User.
							li
								h4 DISCLAIMER
								p ANY ADVICE RECEIVED OR INFERRED VIA THE SERVICES SHOULD NOT BE RELIED UPON BY THE USERS FOR ANY PERSONAL, MEDICAL, LEGAL OR FINANCIAL DECISIONS AND USERS SHOULD CONSULT AN APPROPRIATE PROFESSIONAL FOR TAILORED ADVICE, SPECIFIC TO SUCH USER’S SITUATION AND/OR MEDICAL CONDITION.
								p FITTERNITY SHALL NOT BE RESPONSIBLE FOR VIRUSES, WORMS, TROJAN, AND OTHER HARMFUL OR DESTRUCTIVE CONTENT. THE WEBSITE MAY CONTAIN CONTENT THAT IS OFFENSIVE, INDECENT, OR OTHERWISE OBJECTIONABLE. THE WEBSITE MAY ALSO CONTAIN CONTENT THAT INFRINGES THE INTELLECTUAL PROPERTY AND OTHER PROPRIETARY RIGHTS, OF THIRD PARTIES, OR THE DOWNLOADING, COPYING OR USE OF WHICH IS SUBJECT TO CERTAIN ADDITIONAL TERMS AND CONDITIONS, STATED OR UNSTATED. FITTERNITY DISCLAIMS ANY RESPONSIBILITY FOR ANY HARM RESULTING FROM THE USE OF THE WEBSITE, OR FROM ANY DOWNLOADING OF CONTENT POSTED ON THE WEBSITE.
								p Last Updated on: 23 September 2015