.mui-row.booktrial.mui--z1
	.mui-col-md-9.mui--hidden-xs
		.mui-row
			.mui-col-xs-4.text-center
				span.icon.fa.fa-compass
				h4 DISCOVER CROSSFIT
				p Get a personalised 3 day induction session
			.mui-col-xs-4.text-center
				span.icon.fa.fa-flag
				h4 FITTERNITY FITNESS KIT
				p Get a great starter kit from Fitternity
			.mui-col-xs-4.text-center
				span.icon.fa.fa-gift
				h4 GET THE BEST DEAL
				p Lowest price guarantee for purchasing memberships
	.mui-col-md-3.text-right.mui--align-middle.mui--text-center
		a.mui-btn.mui-btn--danger.btn-trial(href="/crossfit-focus/buy/#{service._id}", style="padding: 0 50px;") Buy 3 day Induction
		small Get a personalised experience of Crossfit