.budget
	h4 
		span.fa.fa-inr
		span  Budget 
			span.budinfo ( Average Monthly Fee )
	.inruppees
		case vendor.price_range 
			when "one" 
				|  Less than 
				span.fa.fa-ruppee
				| 1000
			when "two"
				span.fa.fa-ruppee
				| 1000 - 2500
			when "three"
				span.fa.fa-ruppee
				| 2500 - 5000
			when "four"
				span.fa.fa-ruppee
				| 5000 - 7500
			when "five"
				span.fa.fa-ruppee
				| 7500 - 15000
			when "six"
				span.fa.fa-ruppee
				| 15000 & Above
			default
				p