#manualtrial-modal.wide-popup.mfp-hide
        .mui-row
            .mui-col-md-12
                .text-center
                    h4.mui--text-headline.booksessionwith Book a session with
                br
                #manualtrialform
                    .mui-col-md-12.mui-col-xs-12.formarea
                        form.firststep#manualfirstform
                            .mui-row
                                .mui-col-md-12.mui-col-xs-12
                                    .mui-textfield
                                        input#fullname(type="text",data-validetta="required,minLength[4]",autocomplete="off")
                                        label Name
                                .mui-col-md-12.mui-col-xs-12        
                                    .mui-textfield
                                        input#email(type="email",data-validetta="required,email",autocomplete="off")
                                        label Email
                                .mui-col-md-12
                                    .mui-textfield
                                        input#mobile(type="text",data-validetta="number,required,minLength[10],maxLength[12]",autocomplete="off")
                                        label Mobile
                            .mui-row
                                .mui-col-md-6.mui-col-xs-12
                                    .mui-select
                                        select#day
                                            option Monday-Wednesday-Friday
                                            option Tuesday-Thursday-Saturday
                                            option saturday-Sunday
                                        label(style="display:block;padding-top:5px;") Preferred Day
                                .mui-col-md-6.mui-col-xs-12
                                    .mui-select
                                        select#time
                                            option Before 10 AM
                                            option 10 AM - 2 PM
                                            option 2 PM - 6 PM
                                            option 6 PM - 10 PM
                                        label(style="display:block;padding-top:5px;") Preferred Timings        
                            .mui-row
                                .mui-col-md-12.text-center
                                    button#nextstepfortrainer.mui-btn.mui-btn--primary(type="submit") Next
                        form.nextstep#manualnextform
                            .mui-row
                                .mui-col-md-6.mui-col-xs-12
                                    .mui-textfield
                                        input#flat(type="text", data-validetta="required",autocomplete="off")
                                        label Flat/Building
                                .mui-col-md-6.mui-col-xs-12
                                    .mui-textfield
                                        input#street(type="text", data-validetta="required", autocomplete="off")
                                        label Street
                            .mui-row            
                                .mui-col-md-6.mui-col-xs-12
                                    .mui-textfield
                                        input#city(type="text", data-validetta="required", autocomplete="off")
                                        label City
                                .mui-col-md-6.mui-col-xs-12
                                    .mui-textfield
                                        input#pincode(type="text",autocomplete="off")
                                        label Pincode
                            .mui-row
                                .mui-col-md-12
                                    .mui-textfield
                                        textarea#notes(rows="4",placeholder="Eg: History of back pain, weak legs etc..")
                                        label Notes for the Gym / Trainer                    
                            .mui-row
                                .mui-col-md-12.text-center
                                    button#backstepfortrainer.mui-btn.mui-btn--accent Back
                                    button#generateotp.mui-btn.mui-btn--primary(type="submit") Proceed        