doctype html
html(lang='en')
	head
		block meta
		include ../sections/header
	body
		- if(city == null || city == undefined)
			- city = "mumbai"
		include ../sections/topbar
		block content
		include ../sections/authpops
		include ../sections/callback
		include ../sections/generateotp
		include ../libs/jslibs
	include ../sections/footer