extend layout
block content
	.mui-container
		.notfound
			.mui-row
				.mui-col-md-6.mui-col-xs-12.graphic
					img(src="/img/notfound.png",width="100%;")
				.mui-col-md-6.mui-col-xs-12.message.mui--align-middle
					.mui--text-display4 404
					.mui--text-display2 Sorry! We didn't expect that to happen.
					.mui--text-display1 This page no longer exists.
					br
					a.mui-btn.mui-btn--primary(href="/") Go To Homepage