block js
	script(src="/components/jquery/dist/jquery.min.js")
	script(src="/components/materialize/dist/js/materialize.min.js")
	script(src="/components/jquery-storage-api/jquery.storageapi.min.js")
	script(src="/components/jquery_lazyload/jquery.lazyload.js")
	script(src="/components/owl.carousel/dist/owl.carousel.min.js")
	script(src="/components/wow/dist/wow.min.js")
	script(src="/js/ride.js")
	