doctype html
html(lang='en')
	head
		include sections/header
	body
		include sections/topbar
		block content
		include sections/authpops
		include sections/callback
	include libs/jslibs
	include sections/footer