div.rideHeader.transparent
	nav.transparent
		.nav-wrapper.container
			a.brand-logo(href='#!') 
				.logo.img
			a.button-collapse(href='/', data-activates='mobile-menu')
				i.fa.fa-bars.fa-lg
			ul.right.hide-on-med-and-down
				li
					a(href='/') 
						i.fa.fa-lg.fa-arrow-left.left
						| Back To Home
			ul#mobile-menu.side-nav
				li.teal
					a(href='/')
						span.white-text.mobile-logo-text.flow-text JOYRIDE 
						img.reponsive-img.mobile-logo(src="../img/LogoTrans.png")
				li
					a(href='/') Home
				li
					a(href='/Book') Book A Ride
				li
					a(href='/') About Us
				li
					a(href='/') Services
				li
					a(href='/') Get JoyRide
				li
					a(href='/') Support
				li
					a(href='/') Contact Us