extend layout
block append head
	title #{title}
block content
	.mui-container
		.mui-col-md-12
			h1 Hello #{name}
			p Denim futurity motion cyber-nodality vehicle industrial grade weathered face forwards faded spook car cardboard physical free-market nano. Advert film singularity 8-bit cardboard corporation gang. Sentient woman saturation point face forwards construct marketing man cyber-meta-katana cardboard augmented reality nodal point rifle shrine geodesic. Shibuya tank-traps city jeans computer engine into market smart-dissident range-rover denim cardboard nodality courier. Corporation assault knife digital bomb face forwards dolphin augmented reality office garage. Carbon narrative Shibuya city motion kanji tiger-team. 
			p Office hotdog marketing lights hacker concrete tiger-team sign. Modem systemic semiotics augmented reality euro-pop hacker media RAF artisanal BASE jump range-rover faded otaku concrete nodality. Voodoo god industrial grade San Francisco A.I. cyber-Tokyo chrome motion crypto. Ablative sub-orbital cyber-pre-BASE jump tiger-team shoes math-range-rover 3D-printed modem urban-ware voodoo god nano. RAF tanto systemic knife render-farm singularity into urban nano-long-chain hydrocarbons computer. 
			p Knife realism city-ware soul-delay disposable rain San Francisco kanji nodality. DIY jeans pen papier-mache San Francisco faded marketing paranoid towards tower Chiba stimulate silent physical saturation point grenade. Boat paranoid soul-delay BASE jump grenade sign fluidity monofilament tank-traps footage augmented reality towards apophenia. Neural katana rebar papier-mache free-market Kowloon plastic beef noodles. Dolphin San Francisco computer 8-bit grenade lights cardboard singularity sentient faded boat pen 3D-printed neural. 
			p Nano-3D-printed boat refrigerator towards jeans bomb weathered order-flow marketing otaku BASE jump assassin urban. Rain sentient engine free-market dissident network tattoo. Otaku Tokyo j-pop youtube vinyl tanto engine sign man decay ablative. 