doctype html
html(lang='en')
	head
		include ../sections/header
		block meta
	body
		.hide
			include ../sections/topbar
			include ../sections/subbar
		block content
		include ../sections/authpops
		include ../sections/callback
	//- include ../sections/footer	
	include ../libs/jslibs